[2019-08-20 21:23] JasperFioole21 commented on #323
I will try sniffing it, ant Ant+ dongle is a receiver to receive data from heart rate straps.

I've found a library (https://github.com/Loghorn/ant-plus) which is based in node-usb, but this one was not working either, thats why I started to look into the node-usb libraby. I'm starting to think dat I would net an other OS then OSX to get this to work.

[2019-08-27 13:17] codenakama commented on #155
Hi,

I am getting this error too when doing

[code]

is there anything particularly wrong that I am doing?

thanks in advance.

[2019-08-31 06:18] tahesse opened #324 "Unable to fetch deviceDescriptor string for iSerialNumber"
Hey there,

I am trying to fetch the string for iSerialNumber from my usb device like so

[code]

but I end up with an `undefined`. Any ideas why I am receiving this?
When I run `# lsusb -d 1234:ed02 -v` I see that I receive the correct `desc_index` and see the value.

Thanks!

[2019-08-31 06:20] tahesse commented on #324
Okay, I am simply too stupid to read. Fixed it by reading:
[code]

`data` is the second parameter, I just read the `error` which was undefined... closed.

[2019-08-31 06:20] #324 closed

[2019-09-05 04:14] maximmasterr opened #325 "Emulate devices"
Emulate hid devices

[2019-09-18 16:57] pedrobertao commented on #220
Still happening on 1.6.0. Any news on it ?

[2019-09-18 17:11] pedrobertao commented on #220
This module is causing the crash for Windows OS. Do we have an update on it ? It has been over two years already.

[2019-09-18 17:41] DarylBerryhill commented on #220
I'm using for over a year, USB 1.3.1 with Electron 1.8.1 with no problems at all running on the latest Windows 10. What exactly is your error? I may be able to can help.   for reference here is my stack.

    ],
    "dependencies": {
        "electron-debug": "^1.5.0",
        "file-saver": "^2.0.1",
        "serialport": "^6.2.2",
        "tabit": "^2.2.2",
        "usb": "^1.3.1",
        "winre

[2019-09-18 17:51] DarylBerryhill commented on #220
found another recent project where I'm using USB 1.6.0; SERIALPORT 7.1.5; ELECTRON 6.0.0. and successfully moving data from USB to serial simultaneously. Would you like for me to post my code? just offering a little bit of help.   again for reference here is my dependancy stack

  "dependencies": {
        "auto-launch": "^5.0.5",
        "serialport": "^7.1.5",
        "usb": "^1.6.0",
        "w

[2019-09-18 18:05] pedrobertao commented on #220
Hello @DarylBerryhill ,

To reproduce I have installed usb@1.6.0 and after comming back from 'Sleep' state the screen goes white and no error reported.
[Here](https://github.com/LedgerHQ/ledgerjs/issues/401) I demonstraded how to reproduce it

We have used electron-react-boilerplate and the basic setup:

"electron": "4.1.4" - Not the latest because of our db library.
"@ledgerhq/hw-transport": "^4.

[2019-09-18 22:31] cinderblock opened #326 "Garbage Collection takes a long time"
I am using `node-usb` to transfer data to & from a custom USB device at ~500Hz (ideally up to 1kHz). One issue we're having is that at ~2Hz, the Node.js `gc()` (Garbage Collector) runs. Usually it's just a "Scavenge" type that takes ~9ms but often enough it's a "MarkSweepCompact" type that can easily take 50ms. This "glitch" in our runtime is problematic for our quasi-realtime system. (Yes, I know

[2019-09-19 02:47] cinderblock commented on #326
Well, I decided to dive into it. I have pretty conclusive evidence that the way transfers are handled in the JavaScript part of this library is contributing significantly to extra work for the garbage collector.

Here is a plot of the achieved control period in my application with the current version of `node-usb`:

![image](https://user-images.githubusercontent.com/419955/65208260-5381e400-da49-1

[2019-09-19 21:33] cinderblock commented on #326
Similar issues exist on the IN transfer direction. I haven't captured nice pictures showing the difference but I'm pretty sure it's much better. My more efficient IN transfer:

[code]

[2019-09-24 10:30] Awoogamuffin opened #327 "Writing to usb controller does nothing until manually echoing"
This is quite strange – I thought the code I was using to send a simple signal, any signal, to usb controller (whose function is to open a cash drawer) wasn't working.

This is on an ubuntu machine, and this is the code in question (in typescript):

`openDrawer(d: usb.Device) {
    d.open();
    const iFace: usb.Interface = d.interface(0);
    // detach kernal driver if necessary
    if (iFace.isK

[2019-09-24 15:13] kevinmehall commented on #327
If your device is a USB serial port, you should use `node-serialport` to use the kernel serial drivers instead. With `node-usb`, you'd have to implement the FTDI or CDC-ACM or whatever protocol to configure the serial port before writing to the device. When you are writing to the port through the kernel driver, it is performing the initialization for you. This library is intended for implementing

[2019-09-24 15:13] #327 closed

[2019-09-25 07:08] GanZhiXiong opened #328 "Why is ISerialNumber only one"
![image](https://user-images.githubusercontent.com/27394631/65577362-3a77b680-dfa6-11e9-946b-2ef3f26edf88.png)

[2019-09-25 14:47] kevinmehall commented on #328
It's the index of the string descriptor containing the serial number. Pass it to `getStringDescriptor` to fetch the actual serial number string from the device.

[2019-09-25 14:47] #328 closed

[2019-09-25 15:04] GanZhiXiong commented on #328
The following code I found from the other issue does open () before calling getStringDescriptor
Do you have to open the device to call getStringDescriptor？

[code]

[2019-09-25 15:08] kevinmehall commented on #328
Yes

[2019-09-25 15:17] GanZhiXiong commented on #328
Because our device's idVenDor and idProduct are the same, I can't determine which device I'm connected to, unless I connect a device and then differentiate it based on the Serialnumber of the device, which becomes a bit cumbersome.

[2019-09-26 10:45] GanZhiXiong opened #329 "LIBUSB_ERROR_ACCESS"
platform: macOS
The following code will report an error： LIBUSB_ERROR_NOT_FOUNDunde
[code]

I found out from readme that I'm going to call claim() after I open it，
I then called claim after open, but reported the following error
[code]

[2019-09-26 10:53] GanZhiXiong commented on #329
My complete code is as follows, I have been puzzled about this question for a long time. I am looking forward to your reply. Thank you!

[code]

[2019-09-26 15:04] kevinmehall commented on #329
What is the device? On macOS you get LIBUSB_ERROR_ACCESS if the device is already claimed by a kernel driver. `detatchKernelDriver` only works on Linux. The only way to unbind a macOS kernel driver is to write a kernel extension.

[2019-09-26 15:27] GanZhiXiong commented on #329
This is a usb HID devices, using HIDSharp can open the equipment (https://www.zer7.com/software/hidsharp).

Equipment information is as follows：

Information for device HELLOKEY-30A31F8ED8F3BFCE (VID=0x1A86 PID=0xE0E0):

Connection Information:
------------------------------
Device current bus speed: FullSpeed
Device supports USB 1.1 specification
Device address: 0x0004
Current configuration value

[2019-09-26 15:30] GanZhiXiong commented on #329
With HIDSharp, you can communicate with your device on macOS and Windows, and everything is fine.And I've also been able to communicate with devices on Android.So I think it's the code, not the operating system

[2019-09-26 15:34] kevinmehall commented on #329
HID devices have a kernel driver, so you will not be able to use this library to communicate with them on macOS. You want to use a library based on libhid, not libusb, to use the kernel driver to communicate with the device.

[2019-09-26 15:34] #329 closed

[2019-09-26 15:37] GanZhiXiong commented on #329
Hello, can node-hid communicate with my device?
https://github.com/node-hid/node-hid/

Thank you very much for your reply

[2019-09-26 15:40] GanZhiXiong commented on #329
I've used node-hid, but I can't connect to my device!I have proposed an issue in node-hid.
If you have time, please help me to have a look. This problem has been bothering me for a long time

https://github.com/node-hid/node-hid/issues/341

[2019-09-26 15:52] kevinmehall commented on #329
Looks like it's built on `hidapi` which is what you want.

The device details you've posted don't include the HID report descriptors that would identify whether it is a keyboard. On Linux you can run `lsusb -v -d 1A86:E0E0`, or the tool you are using may have the ability to show more detail on the HID descriptor.

If it works in hidsharp on macOS, I'd recommend looking at C code in the two librari

[2019-09-26 16:02] GanZhiXiong commented on #329
The operations you mentioned are a little difficult for me technically.I just want to find a library that I can use, and I don't have time to research any more.

Thank you very much for your reply!

[2019-09-30 07:45] Gayathri-Rajamanickam-MindTree opened #330 "yarn install breaks in prebuild"
Hi,

We are using electron v 5.0.2 and nodejs version 10, node-usb 1.6.0

During yarn install, it fails in the following command

prebuild-install http request GET __https://github.com/tessel/node-usb/releases/download/v1.6.0/usb-v1.6.0-electron-v70-win32-x64.tar.gz

While analyzing, we see that this link is no more valid --> https://github.com/tessel/node-usb/releases/download/v1.6.0/usb-v1.6.0-e

[2019-10-01 03:12] huyhoangk50 opened #331 "Error: LIBUSB_TRANSFER_TIMED_OUT when calling controlTransfer"
I tried to write data to the speaker device. But it returned the error LIBUSB_TRANSFER_TIMED_OUT. Please tell me if I did the right thing. The code is bellow.
[code]

[2019-10-10 21:20] adamtLICOR opened #332 "Unable to detect USB devices plugged into a docking station"
I'm having some difficulty getting the `attach` event to fire when plugging a device in indirectly, specifically through this type of docking station:

https://www.dell.com/en-us/work/shop/accessories/apd/452-bcnp?mkwid=srusXMF3x

Does the fact the docking station uses Thunderbolt (USB-C) have anything to do with this issue? Should `node-usb` be able to detect USB-C events, or is that outside the

[2019-10-10 23:52] kevinmehall commented on #332
https://github.com/libusb/libusb/issues/544

(though node-usb adds hotplug event support to libusb on Windows via a very old patch that probably makes the problem worse)

[2019-10-11 14:22] adamtLICOR commented on #332
Ah, thank you!

Reading through that thread now -- sounds like a known issue with `libusb`, then?

Do you want me to close out this **Issue**, or keep it open until `libusb` addresses **USB-c** support?

[2019-10-11 15:25] kevinmehall commented on #332
Let's close it. You'll also want to follow #161 about getting libusb updates into the prebuilt releases of this library.

[2019-10-11 15:25] #332 closed

[2019-10-12 07:41] bayssmekanique opened #333 "Control Transfer Buffer checking is faulty"
The current implementation of `controlTransfer` relies on passing in a `Buffer` for and then uses the `Buffer.isBuffer` method for validation.

https://github.com/tessel/node-usb/blob/0d3c0e4694f52760c9b3f7ade0abb0f40ad50d03/usb.js#L104-L106

The problem is that the NodeJS `Buffer` shim calls a function which does an `instanceOf` comparison, which requires that the `Buffer` being passed in is util

[2019-10-12 16:50] kevinmehall commented on #333
What if we made it check `buffer_or_length instanceof Uint8Array`, as both Node's buffer and Feross's buffer are subclasses of `Uint8Array`? To accept plain `Uint8Array`, the `data_or_length.copy(buf, SETUP_SIZE)` would have to be replaced with something like `buf.set(data_or_length, SETUP_SIZE)`.

[2019-10-13 05:36] bayssmekanique commented on #333
@kevinmehall, that seems like an excellent solution.  Are you able to make this change or would you like me to work on a PR?

[2019-10-13 05:43] kevinmehall commented on #333
Please go ahead and make a PR.

[2019-10-13 16:46] mvehar commented on #317
Can we also add Electron 6 (ABI up to 73)?

[2019-10-21 00:22] petertorelli opened #335 "Proper way to handle an unplug while polling?"
I've successfully built an app that allows me to start/stop polling and stream in about 8MiB/s from a device. That's working perfectly. Now I'm trying to handle an unplug event during polling to make the system more usable.

I'm using 128 buffers during the poll. When I unplug during a poll, the endpoint `error` event produces 256 error messages (two for each buffer it would seem, I see a mix of e

[2019-10-23 20:14] splix opened #336 "Add Electron 7.0.0 prebuild"
Electron 7.0.0 is the current stable version (while 8.0.0 is in beta)

[2019-11-06 16:13] ynaut opened #337 "Can't build with Node 12 on Mac OS X"
**Version**: 1.6.0
**Node Version** : 12.4.0
**OS**: Darwin 18.6.0

[code]

[2019-11-06 16:23] baversjo commented on #336
@splix did you get it to build at all? Having this issue: #337

[2019-11-06 19:50] splix commented on #336
@baversjo unfortunately no, we just rewrote that part and have removed the dependency

[2019-11-07 05:07] kevinmehall commented on #337
Fixed in #338

[2019-11-07 05:07] #337 closed

[2019-11-07 05:09] kevinmehall commented on #325
Out of scope for this library

[2019-11-07 05:09] #325 closed

[2019-11-07 05:24] kevinmehall commented on #330
Electron 5, 6, and 7 prebuild added in 1.6.1.

[2019-11-07 05:24] #330 closed

[2019-11-07 05:24] kevinmehall commented on #319
4.1 and 4.2 are not [listed](https://github.com/nodejs/node/blob/master/doc/abi_version_registry.json) as separate ABI versions from 4.0.4.

5, 6, and 7 added in 1.6.1.

[2019-11-07 05:24] #319 closed

[2019-11-07 05:24] kevinmehall commented on #336
Added in 1.6.1.

[2019-11-07 05:24] #336 closed

[2019-11-07 05:24] kevinmehall commented on #317
Added in 1.6.1

[2019-11-07 05:24] #317 closed

[2019-11-08 11:08] jafri commented on #317
@kevinmehall missing v73

[2019-11-12 04:09] brandonros opened #340 "Add `ios` / `iphoneos` target + Add arm64 / arm64e / armv7 / armv7s architecture"
Can you extend the node-gyp configuration to build a statically linked `.a` library for `arm64`? You can link against `/Applications/Xcode.app//Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk/System/Library/Frameworks/IOKit.framework`

This will allow the compiled result to be used in iOS XCode projects

[2019-11-12 21:18] JamesHagerman commented on #340
This project was updated to use `prebuild` instead of `node-gyp` in #300

While I can not comment on iOS, it may be worth mentioning that I have started a branch which attempts to add `arm64` prebuild support to the existing Travis build: https://github.com/JamesHagerman/node-usb/tree/prebuild-for-arm64

However, my intent is to target Raspberry Pi specifically and I have not yet had a chance to t

[2019-11-12 22:44] brandonros commented on #340
Yeah, the tricky part is `arm64` for `darwin` and not `linux`. I appreciate the help. I guess I'm stuck trying to compile `libusb` for `iPhoneOS` in XCode, then linking the app against `Release/obj.target/usb.a`

It's all a proof of concept to see if iPhoneOS supports basic controlTransfer in/out and bulkTransfer when you do Thunderbolt -> USB C -> USB device. What do you think?

[2019-11-14 05:26] RedETV opened #341 "No Endpoints in Interface"
Hello, I'm trying to connect my Alesis Keyboard to my computer and see if I can grab the keys being pressed. However, while I can claim the first interface ( interfaces[ 0 ] ), there are no endpoints within that interface. However, the second interface ( interfaces[ 1 ] ) has both InEndpoint and OutEndpoint.  But if I try to claim said interface, it gives me the following error:

I'm not sure how

[2019-11-17 00:07] #333 closed

[2019-11-17 00:16] kevinmehall commented on #341
LIBUSB_ERROR_NOT_SUPPORTED usually means that the device does not have the WinUSB driver attached properly (e.g. with Zadig). For composite devices it's a little tricky. There will be multiple entries for the device in Zadig, and you'll need to install it for all the interfaces, or the composite parent representing the device as a whole.

If the default driver is a generic class like HID or MIDI,

[2019-11-17 00:20] #341 closed

[2019-11-17 10:37] GoogleFeud opened #343 "Cannot use node-usb with electron"
I get this error when I try running my main script with electron: `electron Engine/Engine.js`:

[code]
Tried rebuilding the module, it said that the rebuild was successful, but the error still occurs.

**Windows**: 10

**Dependencies**:
[code]

[2019-11-18 15:43] bayssmekanique commented on #343
I was receiving a similar error and it appears to be an issue with `electron-rebuild`.  For us, the solution was to switch to using `electron-builder` using the script `electron-builder install-app-deps` instead of the rebuild script.

[2019-12-03 20:58] Newbrict opened #346 "How to do multiple control transfers elegantly with callback?"
Hi, this isn't an "issue" per se, I just wanted to understand what the proper way to port over c usage of the libusb library to js with callback is.

My c code basically does 20 `controlTransfer`s in a loop while incrementing the `wValue` and `wIndex` parameters. I'm wondering how to elegantly reproduce this given that node-usb uses callbacks. What I thought of and really want to avoid is somethin

[2019-12-04 06:15] kevinmehall commented on #346
This is more of a general JavaScript question. There are many resources on async control flow patterns in JS progressing from callbacks to promises to async/await. https://zellwk.com/blog/nested-callbacks/ looks like a good place to start.

`node-usb` has an API that pre-dates promises and async/await, but it's easy to adapt to promises using [util.promisify](https://nodejs.org/api/util.html#util_

[2019-12-04 06:15] #346 closed

[2019-12-06 02:38] Newbrict commented on #346
Thank you!

[2020-01-02 12:57] usagi opened #347 "Could not build in Japanese Windows environments"
Note: I prepared the patch for this issue. I created this to describe the details of the problem. I'll PR later soon.

`npm install` then occur the error in Japanese Windows Environment:

[code]

It's a common foolish cl.exe and Microsoft traditional historical codepage problem. Of Course files in libusb was written in utf8, but cl.exe should not detect without BOM. And unfortunately, in several l

[2020-01-02 13:14] usagi commented on #347
Full log of the error and succeeded(after fixed) is here: https://gist.github.com/usagi/79b1a0cdb14605dbcab56e0e5b47f817

[2020-01-06 19:48] jaller94 commented on #59
I got a similar error on Manjaro Linux when unplugging a USB device.

`usb` from NPM: 1.6.2
`libusb` from the Arch repo: 1.0.23-2
[code]

[2020-01-20 14:05] karadagal opened #349 "Can't use node-usb with electron react applicaiton."
Hello I'm trying to use this node-usb library for my electron react application but when I run the code inside the electron container, I get an error like this:

[code]

This is how my react component looks:
[code]

And this is how the app.js looks:
[code]

I'm not using webpack and my package.json is this:

[code]

[2020-01-30 13:41] hanrea commented on #291
Me too, It doesn't seem to have called the  event

[2020-02-01 20:33] dioslibre commented on #349
Maybe you should use "electron-rebuild - f w usb" to rebuild the module for electon. And be sure to drop to electron 6. It has problems with native node modules.

[2020-02-13 03:40] Stanlyhalo opened #350 "NODE_MODULE_VERSION error."
So I am using electron, and nodejs is updated to the latest v13.8.0. This is what I get. I can't find any nodejs version that is 75. How can I resolve this?

App threw an error during load
Error: The module '\\?\D:\axiom-drive\software\szechuan\node_modules\usb\build\Release\usb_bindings.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 79. This version of Node.js re

[2020-02-17 11:58] mreis1 commented on #350
This is because your forgot to `npm install` your modules that require nativeaddons after updating your node installation.  Run npm install usb on your project and you should be ok

[2020-02-18 16:37] PGP-Protector opened #351 "No Error, No Timeout"
I have a script that's scanning my connected USB Devices to find printers, works except for when it comes across my VR Headset.

Calling getStringDescriptor via

    getManufacturerString (counter, idVendor, idProduct, index)
    {
        var term = usb.findByIds(idVendor, idProduct);
        term.open();

        try
        {
            term.getStringDescriptor(index, counter.callbackClosure(c

[2020-02-18 21:38] pythoulon commented on #350
@mreis Not sure. It turns out I had the same problem, with node-usb as a dependency of @abandonware/noble (see [my original post here](https://github.com/abandonware/noble/issues/42)).

`npm install` just wouldn't cut it. I had to remove all dependencies (including clearing the npm cache), install electron and electron-rebuild, reinstall all dependencies, then run electron-rebuild against electron

[2020-02-23 19:56] kevinmehall commented on #351
Where are you getting the `index` passed to this function? Generally you would get it from the device descriptor, not know it ahead of time.

What OS is this on?

Can you provide a libusb debug log by setting the `LIBUSB_DEBUG=4` environment variable?

[2020-02-26 16:00] Stanlyhalo commented on #350
This still didn't fix it

[2020-03-13 10:14] Apaev commented on #114
Will Isochronous transfers be implemented?

[2020-03-13 20:02] cinderblock commented on #114
I wonder if this would lend itself more to a rewrite. Might also be able to expose what I did in #326 as a full featured high performance API.

[2020-03-15 17:52] dftpnd opened #352 "npm install usb"
npm install usb

prebuild-install info begin Prebuild-install version 5.3.3
prebuild-install info looking for cached prebuild @ /home/bb8/.npm/_prebuilds/31517a-usb-v1.6.2-node-v57-linux-arm64.tar.gz
prebuild-install http request GET https://github.com/tessel/node-usb/releases/download/v1.6.2/usb-v1.6.2-node-v57-linux-arm64.tar.gz
prebuild-install http 404 https://github.com/tessel/node-usb/releas

[2020-03-27 20:26] matextrem commented on #350
Any update? I have the same problem.

[2020-04-03 08:48] sudhakar3697 commented on #81
check [detect-usb](https://www.npmjs.com/package/detect-usb) out. Gives mount path

[2020-04-07 12:27] BliTHE-LI commented on #349
How to solve ?
I have the same problem.

[2020-04-09 17:08] sgoll opened #353 "node-usb not found for electron 8"
The problem occurs when building the native dependency. The essential error message is this:

[code]

There is no release of `node-usb@1.6.2` for `electron-v76`, as can be confirmed over at the [releases page](https://github.com/tessel/node-usb/releases/tag/v1.6.2).

@kevinmehall Would it be possible to issue a release that supports `electron-v76`? When I look at the corresponding commit dce210225

[2020-04-11 20:27] kevinmehall commented on #353
Yes, if it's supported in https://github.com/lgeiger/node-abi/ (used by prebuild), then you can just submit a PR adding it, and when I tag a release it will be built automatically.

[2020-04-12 06:48] rajivshah3 commented on #353
PR: #354

[2020-04-12 15:32] #353 closed

[2020-04-12 15:37] #347 closed

[2020-04-12 15:38] kevinmehall commented on #352
This looks like a successful build from source, not an error. Was there a problem?

[2020-04-12 15:38] #352 closed

[2020-04-21 03:23] apemen opened #355 "No Error, No Timeout，Too"
`var usb = require('usb')
console.log("22222222")
var device = usb.findByIds(0x1ad4,0x00c8)
if(device){
  device.open();
  var interface = device.interfaces[0];
  interface.claim();

  var inpoint = interface.endpoints[0]; // interface.endpoint(id) don't work for id=0 btw
  var outpoint = interface.endpoints[1];

}
console.log(device)`

use “electron .”

but ,i got nothing

[2020-04-21 03:27] apemen commented on #355
then i find there is no "usb.getDeviceList()" function in usb.js

where is wrong

[2020-04-21 17:37] kevinmehall commented on #355
The getDeviceList function is [defined in C++](https://github.com/tessel/node-usb/blob/master/src/node_usb.cc#L107). Endpoint address 0 is the control endpoint -- use `device.controlTransfer` to make control transfer requests. Your code is not actually issuing any transfers. Do you know which call is failing? With Electron, make sure you've built the library against the correct Electron ABI versio

[2020-04-22 08:33] apemen commented on #355
in my code
 “var device = usb.findByIds(0x1ad4,0x00c8)
console.log("22222222")
”
 this row can‘t get device info . and the next row will't be print out

[2020-04-22 20:44] markosole opened #356 "How to read from device, can someone explain"
I am looking for a way to read from device (barcode scanner). I just do not know how to do something like `mydevice.on('data', .....)` as this would not work. I can open device, It does not complain after using  mydevice.open() but I do not know what to do after that. I've tried `mydevice.startPoll(8, 64);`
but it says "on" is not a function. I don't get it.

Thanks in advance.

[2020-04-22 21:17] markosole commented on #302
It's same here on windows. Linux works, but but you have to give access to devices. I did not try it on Mac yet, I need it for windows and all I am doing now is trying to make it work on win 10.

Try running script with sudo, that should help.

[2020-04-23 16:41] kevinmehall commented on #356
See my response to the same question on https://github.com/tessel/node-usb/issues/258

[2020-04-23 16:41] #356 closed

[2020-04-24 09:58] 312977 commented on #349
i  am  use electron vue ,has the same problem.

[2020-04-25 18:02] markosole commented on #173
Hi guys, I am facing same problem on Windows 10 and Electron. My setup is on this link I've created:
https://github.com/markosole/node-usb-barcode/blob/master/server.js

It's slightly different for usage in Electron & VUE app due to VUE requirements.
Same thing happens for me, as @motla  described.

@motla  did you find solution? - Maybe to try with refreshing app like soft restart? I haven't try

[2020-04-25 18:49] motla commented on #173
@markosole No sorry, I moved from this project. Keep us in touch if you find something.

[2020-04-26 01:14] markosole commented on #173
@motla Well here is what I have tried with success. Still needs some tweaks and bobs but I'll add that in a bit and test for longer time and see how it works.

I came up with Idea. If app has multiple processes you could use this procedure. Main process with your node-usb code and reading procedure. And second process which will only listen for device changes and restart second process (or part of

[2020-04-26 05:46] motla commented on #173
@markosole mighty! you found a great workaround.
It would definitely deserve some investigation at Electron's core but it's quite painful to recompile and setup a debug environment for Electron...

No need to do that, NodeJS doesn't crash.

[2020-04-26 05:55] markosole commented on #173
Sound ;) I'll try core NodeJS and in background service with forever module. I am using barcode scanner and processing is done in background. I believe this will be helpful to others with similar problems.

[2020-04-27 19:49] koalazak commented on #302
Same `LIBUSB_ERROR_ACCESS` on mac `10.15.1` with this simple code:

[code]

im missing something? thank you

[2020-04-27 20:54] markosole commented on #302
If you can't open device with `interface.claim();` than you do not have permissions to take over control over your device. Try running your script with `sudo`.
I do not have enough experience with mac and can't tell you is going to work if you edit some files for your USB devices (like linux has).
I've red something about libusb drivers for Mac but as I said, I've no experience with it but more th

[2020-04-27 23:47] kevinmehall commented on #302
On macOS, regular users have permission to access USB devices by default. LIBUSB_ERROR_ACCESS happens most commonly there is already a kernel driver loaded for the device. There is not a great way to detach the kernel driver on macOS -- the `isKernelDriverActive` / `detachKernelDriver` APIs only work on Linux: https://github.com/libusb/libusb/wiki/FAQ#how-can-i-run-libusb-applications-under-mac-os

[2020-04-28 00:19] koalazak commented on #302
Regarding that FAQ, unload the driver is not possible for HID decices. `Take note this may not be possible for drivers like USB HID since it may be used by other USB HID device.`
And my IN endpoint is in a HID interface of the device :/
Now I see on this FAQ https://github.com/tessel/node-usb/issues/182 that this problem was already reported.
Is there any way to get data from a HID IN endpoint wit

[2020-04-28 00:25] kevinmehall commented on #302
You should use node-hid (libhid) for a HID device. That uses the kernel's HID driver instead of trying to replace it.

[2020-04-28 00:44] koalazak commented on #302
Ok, thank you Kevin! now my problem is that node-hid seems a very low level thing...I have no idea what I should "write()" to the device to get data on the `data` event. Do you know the format of that data?
This is the packet that Im trying to emulate to get data back: (sniffed with wireshark)
[code]
[code]

thank you in advance

[2020-04-28 01:15] kevinmehall commented on #302
It's higher-level than node-usb since it deals with reports instead of endpoints and transfers. If your device uses HID "correctly" the report descriptors will tell you the format and meaning of the HID reports in both directions. (Google "HID Report Descriptor"). Many "HID" devices don't usefully implement HID though, but just use it to pass arbitrary data because it simplified driver install on

[2020-05-03 05:54] snuffysasa opened #357 "LIBUSB_ERROR_NOT_SUPPORTED on windows 10 even after installing WinUSB driver with Zadig"
First of all, this is working great for me on linux (ubuntu), and thank you!

Unfortunately, I am having trouble getting it to work on windows 10. I used the program Zadig as recommended, and was able to find the devices listed with the vendor id that I am using and have been able to install drivers for them.  (I had some trouble related to disable driver signing on windows), but eventually go it.

[2020-05-03 17:37] snuffysasa commented on #357
Update: I solved this issue.  I read in another issue page about the detachKernelDriver is not necessary on windows and breaks the program.

[2020-05-03 17:37] #357 closed

[2020-05-03 17:39] snuffysasa commented on #357
Additionally: To use on the latest version of windows 10, these steps are necessary before using Zadig to install the driver:  [Disable driver Signing](https://jbcomp.com/disable-device-driver-signing-in-windows-10/)

[2020-05-04 17:53] kevinmehall commented on #357
Yes, `detachKernelDriver` always reports LIBUSB_ERROR_NOT_SUPPORTED on any OS besides Linux.

Theoretically the WinUSB driver should be signed by Microsoft -- you're just binding a generic driver that already comes with Windows > 7 to the device, so I'm not sure why disabling driver signing would be necessary, but I haven't tested it with recent versions of Windows 10.

[2020-05-16 03:07] Parakleta opened #358 "Build for FreeBSD"
Currently this doesn't build under FreeBSD.  Adding the following to the 'conditions' part of the `libusb.gypi` file fixes it.

[code]

[2020-05-25 03:12] saifeiLee opened #360 "no suitable image found && unknown file type"
Hello, I have a question:
[code]
Electron version: 8.1.0
node-usb:^1.6.3

Reinstall node-usb can fix this issue temporarily, I wanna know why this error occur and how can i fix it permanently?

If you need any further info ,please let me know. Thanks a lot~

[2020-05-25 11:26] alejandroclaro opened #361 "node-usb not found for electron 9"
Please add prebuild for electron 9.

It's alredy supported by node-abi v2.17.0.

[2020-05-28 17:31] robertmain opened #363 "LIBUSB_ERROR_IO - usbfs: process 12689 (node) did not claim interface 0 before use"
I'm trying to interact with a USB camera using [a library](https://www.npmjs.com/package/uvc-control2) which in turn uses node-usb. The issue is that attempts to "open" the USB device produce a `LIBUSB_ERROR_IO` exception, and I see `usbfs: process 12689 (node) did not claim interface 0 before use` in `dmesg`(I'm on Linux).

I have a udev rule in `/etc/udev/rules.d/80-webcam.rules` which looks lik

[2020-05-29 00:58] kevinmehall commented on #363
That dmesg log is the kernel is complaining that the library is sending control transfers targeting the interface without [claiming](https://github.com/tessel/node-usb#claim) the interface. However, you'll probably be unable to claim the interface because it will already be claimed by the UVC kernel driver, which you're presumably using to stream the actual video from the device. What that library

[2020-05-30 17:03] kevinmehall commented on #360
0x4d 0x5a looks like the beginning of a Windows dll, while the `/Users/` paths look like macOS. Make sure you're installing the right version of the `.node` file for your OS.

[2020-05-30 17:03] #360 closed

[2020-06-02 23:14] petertorelli opened #364 ""Module did not self-register" error when used in an ElectronJS WebWorker Win10"
Versions:

* usb 1.6.3
* ElectronJS 8.0.0
* Node 12.18.0
* Win10

To reproduce, create a simple `worker.js` file:

[code]

And from within the JS module loaded by the BrowserWindow in electron (quite a bit of code to include here!)

[code]
Generates the following error:
[code]

Not sure if this is Node, Electron or `usb`. Suggestions?

[2020-06-06 20:59] petertorelli opened #365 "Low performance on Win10 with USB3 devices?"
I have an ElectronJS application I run on the same laptop in either a Win10 or Ubuntu 18.04 partition. The hardware is a Joulescope JS110 power monitor that sends back 2M samples/sec (four byte samples). I'm using endpoint `startPoll` and `endpoint.on('data')`.

I moved the code to a forked child process to avoid throtting Electron.

On Win10 it completely throttles the forked child process to the

[2020-06-09 13:58] InZan3 opened #366 "Install fails on Raspberry Pi Zero with Node 10.20.1"
`> usb@1.6.3 install `/home/pi/node-> usb@1.6.3 install /home/pi/node-usb

prebuild-install info begin Prebuild-install version 5.3.3
prebuild-install info install installing standalone, skipping download.
gyp ERR! clean error
gyp ERR! stack Error: EACCES: permission denied, unlink 'build/Makefile'
gyp ERR! System Linux 4.19.118+
gyp ERR! command "/usr/local/bin/node" "/usr/local/lib/node_modules/

[2020-06-16 09:21] saifeiLee opened #367 "no suitable image found"
![image](https://user-images.githubusercontent.com/28710808/84756681-b4007a80-aff5-11ea-9911-8ea627111de8.png)

Could anyone please explain why it happens?

[2020-06-16 19:41] kevinmehall commented on #367
Same as https://github.com/tessel/node-usb/issues/360 except now you've got a Linux binary on macOS. Are you sharing an install directory between operating systems?

[2020-06-16 19:41] #367 closed

[2020-06-17 06:25] saifeiLee commented on #367
Thanks for replying.
I only run my app on osx. No other system.But I package my app for linux by electron-builder. Is the packaging for linux causing the issue？

[2020-06-18 16:42] kevinmehall commented on #367
I've never used electron-builder, no idea.

[2020-06-19 11:32] saifeiLee commented on #367
Thank you all the same. May you have a lovely day~

[2020-07-01 06:19] brandonros opened #368 "Windows 7 64-bit node.js v10, v12, v14 0xC0000005 / -1073741819 error"
[code]

Seems to fail right after `usb.getDeviceList()`. I've tried every version of node.js. Not sure what else to try

[2020-07-04 21:10] ferhattelci opened #369 "Not Found 404 releases/download/v1.6.3/usb-v1.6.3-node-v83-linux-arm.tar.gz"
Hi all,

i cannot download the package .. while downlading i'm getting these error lines ..

 npm install --unsafe-perm usb

prebuild-install info begin Prebuild-install version 5.3.5
prebuild-install info looking for cached prebuild @ /home/pi/.npm/_prebuilds/cd9f6c-usb-v1.6.3-node-v83-linux-arm.tar.gz
prebuild-install http request GET https://github.com/tessel/node-usb/releases/download/v1.6.3/u

[2020-07-04 21:13] ferhattelci commented on #366
Hi,

have you found a solution or does the problem persist? Because I can't install the package on my Zero too...

[2020-07-05 14:29] InZan3 commented on #366
Hi, i dont need it anymore ;-)

[2020-07-06 16:31] vikjsdev commented on #140
Does anybody found solution?

[2020-07-07 08:42] AdamChlupacek opened #370 "HID device, read report descriptor"
Hello,

As said in the title, I am trying to read report descriptor from a HID device so that we can implement support for generic headphones control inside of our application.

I have managed to do this via `controlTransfer` on macOS, but on Windows I required the WinUSB driver as I found out later from the docs. I cannot make every of our users to manually download the WinUSB driver for their de

[2020-07-07 14:58] kevinmehall commented on #370
WinUSB ships with Windows 7 and later. If you control the device firmware, you can make Windows automatically bind it to your device by adding [WCID descriptors](https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/automatic-installation-of-winusb). Otherwise, you can bind the driver with the [libwdi](https://github.com/pbatard/libwdi) library Zadig uses as its backend.

However, if yo

[2020-07-07 14:58] #370 closed

[2020-07-07 15:15] kevinmehall commented on #369
The 404 part is expected; we don't offer prebuilds for ARM. It should then build from source, though.

The `TypeError: tar.extract is not a function` appears to be a symptom of a broken installation of Node:

https://github.com/nodejs/node-gyp/issues/2067
https://github.com/nodejs/node-gyp/issues/1871

[2020-07-07 15:15] #369 closed

[2020-07-07 15:20] AdamChlupacek commented on #370
Thank you for your answer,

The issue is that the devices are not ours, its just generic headphones with buttons.

We are already using node-hid, but as you said, there seems to be no way how to get descriptors. I guess for now I will be dumping the descriptors on my macOS machine and hardcoding them in the application until there will be some other way how to get the HID descriptors on windows.

[2020-07-07 15:26] kevinmehall commented on #368
That's a segfault in the C or C++ code; next step would be to get a backtrace with a debugger.

You could try [building against a newer version of libusb](https://github.com/tessel/node-usb/pull/345) (assuming you don't need hotplug functionality) in case it's a bug fixed there.

[2020-07-08 18:05] eranl99 opened #371 "Offline installation"
I've tried to download usb with npm -i and yarn and adding the tgz file to a local offline Verdaccio registry.

Unfortunately, when I try to install it in an offline computer it seems like the installation script tries to reach the repository for some reason.

Why isn't the tgz file enough for the installation? Why do I need to have an internet connection?

[2020-07-08 21:48] kevinmehall commented on #371
[prebuild-install](https://github.com/prebuild/prebuild-install) downloads a precompiled binary of libusb and the node extension for your platform. Pass `--build-from-source` to skip this and build from the source in the tarball. You'll need a C++ toolchain installed.

[2020-07-08 21:48] #371 closed

[2020-07-13 04:47] eranl99 commented on #371
Thanks.
When I do npm install --build-from-source=usb I still get an error. It seems like the flag is not passed on to the actual installation of usb.
I get an error (this is extracted from the verbose log):
Error: usb@1.6.3 install: `prebuild-install --verbose || node-gyp rebuild`

The actual installation just shows that it received an Error: getaddrinfo EAI_AGAIN nodejs.org at GetAddrInfoReqWrap

[2020-07-13 04:57] kevinmehall commented on #371
That may be node-gyp downloading C++ headers in order to perform the build. node-usb prebuilds are on github.com, not nodejs.org.

[2020-07-13 11:57] alejandroclaro commented on #361
Any news?

Looks like someone adds the prebuild generation in Travis, but is not working properly.

[code]

[2020-07-18 06:04] liuzhenyilang opened #372 "TypeError: Cannot read property 'indexOf' of undefined when start app"
`[1] [14:00:15.052] [error] TypeError: Cannot read property 'indexOf' of undefined
[1]     at Function.getFileName (webpack:///./node_modules/bindings/bindings.js?:178:16)
[1]     at bindings (webpack:///./node_modules/bindings/bindings.js?:82:48)
[1]     at eval (webpack:///./node_modules/usb/usb.js?:1:112)
[1]     at Object../node_modules/usb/usb.js (G:\project\LLL\boom-meet-electron\build\main.

[2020-07-18 13:14] kevinmehall commented on #372
node-usb is not compatible with webpack.

[2020-07-18 13:14] #372 closed

[2020-07-24 15:50] brandonros commented on #368
this was related to the `webusb` package https://github.com/thegecko/webusb/issues/68

[2020-07-24 15:50] #368 closed

[2020-07-28 12:40] Blackfaded commented on #349
[code]

worked for me in main process

[2020-07-28 13:23] Blackfaded commented on #364
rebuild with electron-rebuild:
[code]

[2020-07-29 21:38] #364 closed

[2020-08-28 05:36] brandonros opened #378 "Fails to run in a worker_thread"
[code]

device-worker.js

[code]

main.js

[code]

[2020-09-01 06:41] quinton-ashley commented on #350
Any update now?

[2020-09-03 13:42] xiaoxiangmoe opened #380 "Loading non-context-aware native module in renderer"
(node:82420) Electron: Loading non-context-aware native module in renderer: '/Users/foo/repos/app/node_modules/usb/build/Release/usb_bindings.node'. This is deprecated, see https://github.com/electron/electron/issues/18397.

[2020-09-04 14:52] sgoll commented on #361
FWIW, the same applies to Electron 10 which has been released in the meantime:

[code]

[2020-09-05 17:23] mildsunrise opened #381 "Current API is unsafe"
The current API has some design problems... the most important one is that it relies on the active configuration to not change. [According to libusb](http://libusb.sourceforge.net/api-1.0/libusb_caveats.html#configsel), this is only guaranteed once an interface is claimed. This causes, among other things:

 - Race: If another program changes the configuration after `device.open()` is called (but b

[2020-09-08 13:36] k4113h opened #382 "License?"
Is it valid for this project to use MIT license as it depends on libusb that uses LGPL-2.1?

[2020-09-08 17:51] EnderAdel commented on #220
It's still happening. The rendering process keeps crashing. (I'm on version 10.1.1)
[code]

[2020-09-08 20:42] kevinmehall commented on #382
Yes. The MIT license covers the code in this repository only. If you distribute a combined work containing both node-usb and libusb you must comply with both licenses.

[2020-09-08 20:42] #382 closed

[2020-09-09 05:38] k4113h commented on #382
Thank you, this clarifies it.

[2020-09-09 11:49] vipullimbachiya commented on #350
`electron-builder install-app-deps`

For me, this worked

[2020-09-10 10:45] mildsunrise opened #383 "Loop starvation"
If USB events are arriving fast enough, this module can completely starve the Node.js loop, preventing everything else from running.

When poll is used: this seems like a libusb backend-specific bug, [reported here](https://github.com/libusb/libusb/issues/780).
When poll is not used: it happens because there's an [infinite loop](https://github.com/tessel/node-usb/blob/a69f1e9cb83d11d88cb009013b734

[2020-09-14 07:12] qin-young opened #384 "iOS Serial Length"
Obtaining the serial number of the Apple device always returns a string of length 40, but some Apple devices have a serial number of only 24 ，For me ，it work by format the serial
[code]

[2020-09-23 14:04] meghajayakumar commented on #350
Having the same issue, any update?

[2020-09-23 15:49] pythoulon commented on #350
VSCode keeps changing the Electron version it uses and expects. See my comment there: https://github.com/abandonware/noble/issues/42#issuecomment-697572629

[2020-10-12 07:56] xdimh opened #386 "Smart card reader causes libusb crash"
Insert and unplug the smart card reader on windows platform causes libusb crash.
releated issues [#285](https://github.com/tessel/node-usb/issues/285)

[code]

The unsigned int len cause the len
Value cannot be negative
and then Cause the code `if(len<=0)` not to be executed
when len should be -1;

device_id[i] emit Array out of bounds exception

Just need to modify `unsigned int len` to `int len`

[2020-10-15 11:45] realwax opened #387 "Warnings/erros due to depricated hotplug functionality"
AR(target) Release/obj.target/usb.a
  COPY Release/usb.a
  CXX(target) Release/obj.target/usb_bindings/src/node_usb.o
../src/node_usb.cc: In function ‘void handleHotplug(std::pair<libusb_device*, libusb_hotplug_event>)’:
../src/node_usb.cc:151:58: warning: ‘v8::Local<v8::Value> Nan::MakeCallback(v8::Local<v8::Object>, const char*, int, v8::Local<v8::Value>*)’ is deprecated [-Wdeprecated-declaratio

[2020-10-17 03:56] petertorelli commented on #349
The problem is that `bindings` searches the stack trace to find the `usb_bindings.node` file, and the stack trace does not contain a callsite for `./node_modules/usb/build/Release/usb_bindings.node`. I have an issue opened on this, would be great to get an assist on this with someone more familiar with why `bindings` is used...

https://github.com/TooTallNate/node-bindings/issues/29

[2020-10-17 04:03] ngvcanh commented on #350
I had the same problem and I found a solution.
Delete the `node_modules` folder and run commands follow in `cmd`, don't run at vscode terminal or git cmd:

[code]

It's working for me

[2020-10-18 00:58] quinton-ashley commented on #350
It works for me, I think they just fixed it! I still have electron-rebuild as a global pkg. Didn't change anything I was doing.

[2020-10-19 01:33] ngvcanh commented on #292
I'm using `"usb": "^1.6.3"` and it normally working.

[2020-10-19 20:23] quinton-ashley commented on #350
Actually it only worked on macOS. On windows there are too many errors in one of the files for the project to build.
[code]

[2020-10-19 20:24] quinton-ashley opened #388 "Too many errors to build on Windows"
On Windows there are too many errors in one of the files for the project to build.
[code]

[2020-10-20 01:21] ngvcanh commented on #388
What is the terminal that you using?

[2020-10-20 05:15] quinton-ashley commented on #388
I'm using git bash

[2020-10-20 05:23] quinton-ashley commented on #388
Same thing happened on cmd as with git bash. I can post the full log if necessary. There are just a lot of warnings and syntax errors.  Too many for MSBuild to let it build.

[2020-10-20 06:08] ngvcanh commented on #388
Do you have using `--save` option?

[code]

[2020-10-20 06:08] quinton-ashley commented on #350
I'm using VS 2019. Why are there so many errors?

[2020-10-20 06:10] quinton-ashley commented on #388
Yes I've already done that. I have the latest version of npm.  The problem is too many build errors when I try to build it for electron v10.

[2020-10-20 06:13] quinton-ashley commented on #388
Here's the full log.
[2020-10-20T06_11_20_370Z-debug.log](https://github.com/tessel/node-usb/files/5406633/2020-10-20T06_11_20_370Z-debug.log)

[2020-10-20 06:14] quinton-ashley commented on #388
Building usb for electron v10 works on macOS and Linux but not on Windows.

[2020-10-20 06:19] quinton-ashley commented on #388
This project must be updated to VS 2019, it's currently on VS 2015.
![image](https://user-images.githubusercontent.com/20031683/96547684-632db680-1261-11eb-9893-6dac3c0bb262.png)

[2020-10-20 06:35] ngvcanh commented on #388
Here is what I am using:
- Windows 10 Pro x64 - 2004 - 01/09/2020 - 19041.572 - Pack 120.2212.31.0
- NodeJS: `v12.18.3`
- npm: `6.14.8`
- electron: `^10.1.3`
- usb: `^1.6.3`
- prebuild-install: `5.3.5`
- Python: 2.7.15
- windows-build-tools: `5.2.2`

And before writing this comment, I tried creating a new project and installing `usb` package, it still works normally with the following commands:

[

[2020-10-20 08:20] quinton-ashley commented on #343
prebuild-install http 404 https://github.com/tessel/node-usb/releases/download/v1.6.3/usb-v1.6.3-electron-v82-win32-x64.tar.gz
    prebuild-install WARN install No prebuilt binaries found (target=10.1.3 runtime=electron arch=x64 libc= platform=win32)

[2020-10-20 08:24] quinton-ashley opened #389 "Please add support for electron v10 on Windows"
Building from source doesn't work and neither does using prebuilt binaries.
[code]

[2020-10-20 08:29] quinton-ashley commented on #388
What do you mean by it gets replaced by the nostlan package? This same command works on macOS and linux.

[2020-10-20 08:40] quinton-ashley commented on #388
I have electron electron-builder and electron-rebuild installed globally. The `usb` package needs to start supporting Python 3 or make prebuilt binaries available.

[2020-10-20 08:41] ngvcanh commented on #388
I have read a bit of the documentation of the `nostlan` package on npmjs.com

It is used as a building tool for the game. And I build the `usb` package on my machine and the tool used is the `node-gyp` package.

I'm also not sure but there might be some conflict inside the `nostlan` package.
You can try.

[2020-10-20 08:45] quinton-ashley commented on #388
That's an very old version of Nostlan. You can find the current version on my github page.

[2020-10-20 08:47] quinton-ashley commented on #388
Oh I haven't updated my windows-build-tools that might be the problem!

[2020-10-20 09:09] quinton-ashley commented on #388
It really works for you? @ngvcanh It's still not working at all, same problem.

[2020-10-20 09:11] ngvcanh commented on #388
Yes, I have also just read the documentation on the `node-gyp` repository and I plan to come back here asking if you have installed or updated `windows-build-tools`.

I am new to usb package and I am also having some other problems related to usb package.
If you don't mind, can you give me a contact to discuss?
My Skype: ngvcanh.ken
Telegram: Ken Nguyen (+84 979714412)

[2020-10-20 09:13] ngvcanh commented on #388
I installed on 2 pc and 1 laptop, they are Windows 10.
It normally work.

[2020-10-20 09:14] quinton-ashley commented on #388
Building for electron v10 isn't not working for you either though or you got it to work?

[2020-10-20 09:15] ngvcanh commented on #388
I'm using electron v10.
And I installed 2 hours ago

[2020-10-20 10:15] quinton-ashley commented on #388
In the meantime I will keep using electron v9 on windows since building for it works.

[2020-10-22 14:32] realwax opened #390 "crashing javascript adapter of iobroker when using it via node-co2-monitor"
dmesg:
38.413305] usb 1-1.1.2: usbfs: process 639 (io.javascript.2) did not claim interface 0 before use

`
host.ioBrokerPIB32 | 2020-10-22 15:29:30.779 | error | instance system.adapter.javascript.2 terminated with code 1 (JS_CONTROLLER_STOPPED)
-- | -- | -- | --
host.ioBrokerPIB32 | 2020-10-22 15:29:30.779 | error | Caught by controller[0]: at Transfer.transferDone (/opt/iobroker/node_modules/io

[2020-10-24 21:09] franjorub opened #391 "is it possible copy files from a USB to the hard disk using this library ?"

[2020-10-26 21:12] kevinmehall commented on #391
In theory yes, in practice no -- you probably want to use your operating system's mass storage and filesystem drivers instead of writing your own.

[2020-10-26 21:12] #391 closed

[2020-10-27 14:17] realwax commented on #390
There is an issue with raspberry pie's as it seems the kernel has a driver running. The issue originates out of node-co2-monitor using node-usb. As I am using node-co2-monitor and I am not a dev I can't do much about it. Can you please check if claiming usb interfaces works on raspberry pies? cheers.

host.ioBrokerPIB32 | 2020-10-27 14:43:18.283 | error | instance system.adapter.javascript.2 termi

[2020-10-29 09:14] realwax commented on #390
I had a look at node-co2-monitor and it detached kernel driver before usage even though I get errors above. Can somebody help me further debubbing this as it keeps crashing my javascript adapter in iobroker. Thank you

[2020-10-29 11:15] realwax opened #392 "Issues on rasperry pie with hotplug - crashing"
Used https://github.com/huhamhire/node-co2-monitor/blob/master/co2_monitor.js

it detached kernel driver https://github.com/huhamhire/node-co2-monitor/blob/master/co2_monitor.js#L58

though i see at dmesg:

925.532552] usb 1-1.2: usbfs: process 5519 (node) did not claim interface 0 before use

on hotplug events my iobroker javasscript adapter crashes:

host.ioBrokerPIB3 | 2020-10-29 11:59:45.379 |

[2020-10-31 14:36] Chris2011 commented on #357
I also did the driver signature disabling, but still got the same error. I did this with Zadig:

* Open Zadig
* Go to options -> List all devices
* Select the usb flash drive in the DropDownListBox
* See the driver, which is installed for that device

For me it was a different one and I've overwritten it with WinUSB. After this, I don't get the error anymore, just undefined, but this could be from

[2020-11-04 12:09] Chris2011 commented on #147
Check whether you have the correct driver for your device. I listed all my devices in Zadig and my flash storage had a different one. After I've overwritten it with WinUSB it worked.

[2020-11-04 15:39] adamvx opened #393 "Is it possible to detect usb devices in docker/balena container ?"
Hi,

I tried to implement this library for my project running on balena but I was not able to make it run. It works on host but not in container even when its started with privileged flag.

I can provide an example to try it out.

First run the test container.
`docker run -it --name test --privileged balenalib/raspberrypi4-64-debian-node:11-buster-build bash`

Then create and new folder with `mkdi

[2020-11-11 21:11] Apollon77 commented on #390
@kevinmehall I had a look into this and I might not underdstand the code structure by 100% but in fact an Interface has endpoints and in the In/OutENdpoints there could be error s emitted ... but I do not see any place on the interface that "Bubbled up" these error events, so they are thrown instead in an uncactachable mannort ... or !?

Should not Interface also be an Eventemitter and pass error

[2020-11-20 09:39] erikkallen commented on #383
I seem to be experiencing the same problem, reading from an fpga, not using polling electron seems to freeze at some point

[2020-11-22 00:26] lkurylo opened #395 "bluetooth doesn't work after electron app packaged"
I'm developing an Electron app to connect to bluetooth BLE device using @abandonware/noble on Windows 10. Everything works in development but not when I package the app using electron-builder.
I believe this is problem with this missing package for usb.
How to fix it? Can I build this myself and how can I do this?

![electron-builder](https://user-images.githubusercontent.com/744244/99890612-81704

[2020-11-22 16:05] mildsunrise commented on #383
@erikkallen you can try to defer event handling to a `setImmediate` call. this way your callback will be short (just the `setImmediate`) and the work will happen later, on its own tick.

but you should also take some other action, or the setImmediate queue will grow bigger and bigger if events arrive faster than you process them

[2020-11-24 00:01] mildsunrise commented on #393
I would advise against containers if you need to integrate with hardware (unless it's a very small and well defined subset). You'll get a _lot_ of headaches, because the illusion that every container has its own kernel starts to break.

hotplug detection (what you're trying to do) is accomplished by libusb in two ways: either by talking to udev, or if not available, by talking to the kernel direct

[2020-12-20 21:58] kevinmehall opened #401 "Add more maintainers"
While I've been merging small PRs and occasionally making releases, I'm not really using Node much these days, and so my motivation to work on this library has declined.

The project has reached a point where several long-standing issues have become pressing, while I'm not currently able to put in the effort to deal with them. I'm glad to see the project so widely used, but I hate to see the issue

[2020-12-21 19:04] thegecko commented on #401
@kevinmehall I'm willing to help out here in some capacity. I have JavaScript/TypeScript skills, but only a little C/C++ knowledge (and even less coffeescript). I would be happy to work on a GitHub actions CI and v2 API.

Regarding the CI, it would probably need to be a well maintained automated test suite as well as physical testing, so potentially a multi-pronged approach. I have access to a lar

[2020-12-29 06:33] blumk commented on #349
Here's a solution that finally worked for me:

Generating the `usb_bindings.node` with `electron-rebuild` is just the first step.

The error message comes from the file system trying to access the bindings file:
`Cannot read property 'indexOf' of undefined at Function.t.getFileName (bindings.js:178)`

**Explanation**

**Solution**

[code]

Full explanation and tutorial:  https://stackoverflow.com/

[2021-01-07 11:40] geovie commented on #401
@kevinmehall Maybe [abandonware](https://abandonware.github.io/) is interested in taking this over. They use node-usb in [abandonware/node-bluetooth-hci-socket](https://github.com/abandonware/node-bluetooth-hci-socket).

[2021-01-08 09:23] CenekSanzak opened #402 "It only reads a random byte"
I have a esp32 device connected by usb. It writes a string with length 10-20 every second. But in the data event, there is a buffer with 1 byte. In first events it has more bytes and they are meaningless too.

if(interface.isKernelDriverActive())interface.detachKernelDriver()
            interface.claim()
            const inend = interface.endpoints[0]
            outend = interface.endpoints[1]

[2021-01-10 18:48] kevinmehall commented on #402
Are you reading from the right interface and endpoint? Check the interface and endpoint descriptors (on Linux: `lsusb -v -d VID:PID`). And what protocol does the device implement? Since you're talking about sending lines and not packets it sounds like an emulated serial port -- if that's CDC ACM serial you should be using `node-serialport` rather than `node-usb`.

[2021-01-10 18:48] #402 closed

[2021-01-12 16:56] thegecko commented on #401
Personally I'd rather see it continue here if I can get some support on the C/C++ side

[2021-01-12 16:58] thegecko commented on #401
Out of interest, which hardware was used?

I'm going to take a look at seeing how easy it is to get a suite running on more common hardware.

[2021-01-12 17:33] kevinmehall commented on #401
Atmel atxmega32a4u on [this board](https://github.com/nonolith/Breakouts).

And I think I've found the source code for that firmware: https://kevinmehall.net/tmp/xmega-stream.zip

[2021-01-12 17:42] kevinmehall commented on #401
@tcr, Could you give @thegecko access to this repository? (I don't seem to have admin permissions myself).

[2021-01-25 13:58] pavinthan opened #406 "Linux build failed"
prebuild info begin Prebuild version 10.0.1
prebuild info build Preparing to prebuild usb@1.6.4 for electron 11.0.0 on linux-x64 using node-gyp
prebuild verb starting build process node-gyp
prebuild verb execute node-gyp with `node index.js rebuild --target=11.0.0 --target_arch=x64 --runtime=electron --dist-url=https://atom.io/download/electron`

![image](https://user-images.githubusercontent.com/

[2021-01-26 11:52] thegecko commented on #401
Thanks for that, @kevinmehall . I'm working on porting it to a cheaper/more available device.

I'm seeing one issue with polling when running the test suite multiple times, would you mind confirming on your side that running the test suite multiple times sees a success each time? Would be good to know I'm working with a stable baseline!

[2021-01-27 17:41] kevinmehall commented on #401
Yes, the test suite successfully runs multiple times without resetting the device. The device does maintain timers, packet counters, and other state, but the tests don't care about the packet contents.

[2021-01-30 14:43] thegecko commented on #389
This was added in #404, feel free to close.

cc @kevinmehall

[2021-01-30 14:46] thegecko commented on #361
This has been added and just needs a new release AFAICT.

cc @kevinmehall

[2021-01-30 15:47] thegecko commented on #5
I have successfully ported the [existing embedded test firmware](https://kevinmehall.net/tmp/xmega-stream.zip) to use a more readily available part (the STM32F103 `blue-pill`) over at:

https://github.com/thegecko/node-usb-test-firmware

This passes all existing tests and has been checked on the following hosts:

- MacOS 10.14.6 (x64) - Node 12
- MacOS 11.1 (arm64) - Node 12
- Windows 10 (x64) - N

[2021-01-30 15:48] thegecko commented on #401
Thanks for the source code, it's enabled me to recreate the test hardware (see https://github.com/tessel/node-usb/issues/5#issuecomment-770231673).

[2021-01-30 17:40] kevinmehall commented on #406
Screenshot is of Travis-CI, which has been replaced by GitHub Actions. If you're having trouble building locally, this does not include any error messages that would be useful for debugging it. Look at the recent commits for a few compiler settings changes that may help.

[2021-01-30 17:40] #406 closed

[2021-01-30 17:41] #393 closed

[2021-01-30 17:49] kevinmehall commented on #384
This seems very device-specific and isn't related to node-usb. Hope this code helps anyone with the same problem, though!

[2021-01-30 17:49] #384 closed

[2021-01-30 17:52] kevinmehall commented on #366
This looks like you have mixed file ownership in your build or node_modules directory. To avoid this, don't run `npm` with `sudo`.

[2021-01-30 17:52] #366 closed

[2021-01-30 17:55] kevinmehall commented on #188
#399

[2021-01-30 17:56] #247 closed

[2021-01-30 18:52] kevinmehall commented on #389
Thanks to @thegecko's help, v1.6.4 has been released with prebuilds for Node 14 and Electron 9, 10, 11, and 12-beta1.

[2021-01-30 18:52] #389 closed

[2021-01-30 18:52] kevinmehall commented on #361
Thanks to @thegecko's help, v1.6.4 has been released with prebuilds for Node 14 and Electron 9, 10, 11, and 12-beta1.

[2021-01-30 18:52] #361 closed

[2021-01-30 18:57] kevinmehall commented on #395
v1.6.4 has been released with prebuilds for Node 14 and Electron 9, 10, 11, and 12-beta1.

[2021-01-30 18:57] #395 closed

[2021-01-30 18:59] kevinmehall commented on #388
v1.6.4 has been released with prebuilds for Node 14 and Electron 9, 10, 11, and 12-beta1. Unfortunately I can't individually debug everyone's broken compiler setup. Check out what GitHub Actions does as it builds fine there.

[2021-01-30 18:59] #388 closed

[2021-01-30 19:18] #363 closed

[2021-01-30 20:56] karniv00l opened #409 "Problem with Electron 11"
I've just tested the new release (`v1.6.4`) (https://github.com/tessel/node-usb/pull/407) and it breaks my app on `Electron 11` (tested on macos and ubuntu 20).

However it works on `Electron 10` and `Electron 12 beta 1` 🤔

Error message:

[code]

For reference: https://github.com/nodejs/node/blob/master/doc/abi_version_registry.json

[2021-01-30 22:31] kevinmehall commented on #409
This is normally what happens if you switch Node / Electron versions without reinstalling the package.

But there is something weird going on here: At https://github.com/tessel/node-usb/releases/tag/v1.6.4 we should have a set of `electron-v87` prebuilds for Electron 12 [as configured](https://github.com/tessel/node-usb/blob/master/.github/workflows/prebuild.yml#L37), but they're weren't generated

[2021-01-30 22:55] karniv00l commented on #409
Thanks for the response. There is also `serialport` in the package.json.

- removed `~/.npm/_prebuilds`
- removed `node_modules` and `package-lock.json `
- `node v14.15.4`

For both Electron `11.0.0` and `12.0.0-beta.1` output is the same 🤔 (`a66dc7-usb-v1.6.4-node-v83-darwin-x64.tar.gz`):

[code]

there is also `electron-rebuild` that is running right after npm install:

[code]

Skipping `electro

[2021-01-30 23:15] kevinmehall commented on #409
`83` is Node 14, so that's getting chosen based on your Node, rather than Electron version. That's a different error than the `85`/`87` mismatch from your original post. I don't really know how `electron-rebuild` is supposed to work, or what's responsible for downloading the right prebuild when using electron.

I confirmed that the `usb-v1.6.4-electron-v85-linux-x64.tar.gz` on the release actually

[2021-01-31 00:14] karniv00l commented on #409
Thanks. That makes more sense.

`electron-rebuild` produces additional version for `Electron`:

[code]

so If the source file (`node-v83`) is invalid, recompiled / rebuilt version (`electron-v85`) will also be invalid because it's based on the wrong source file.

[2021-01-31 01:13] kevinmehall commented on #409
If it's actually rebuilding from source, the source code isn't tied to any ABI version.

Anyway, I've removed the `usb-v1.6.4-electron-v85-*` prebuild artifacts (that are actually overwritten by ABI 87) from the release, so you should be back to whatever level of brokenness you had before v1.6.4 was released.

[2021-01-31 15:57] thegecko commented on #409
Argh, this is annoying, looks like `node-abi` is returning the wrong versions, a [similar issue exists for Node 14 too](https://github.com/lgeiger/node-abi/issues/93)

[2021-02-04 16:54] thegecko commented on #401
Another option is to transfer this repo to its own organisation if there is trouble getting admin actions undertaken?

I registered https://github.com/node-usb just in case ;)

[2021-02-11 15:20] ppershing opened #412 "Re-import failures in jest"
When we run multiple of our test files in jest (together with --runInBand to serialize the execution), we are getting weird errors in `node-usb` in all but first testfile:
[code]
I am not sure about how exactly Jest manages to re-import the file (it might be some fun with es6 imports vs commonjs require as `hw-transport-node-hid` is using es6 imports) but the library obviously doesn't like it.
Loo

[2021-02-11 15:32] kevinmehall commented on #401
@Frijol, do you still have admin access to this repo? Can you give me and @thegecko admin access?

[2021-02-12 01:28] rwaldron commented on #401
@kevinmehall I've added @thegecko

[2021-02-13 21:55] kevinmehall commented on #401
@thegecko I've given you access to publish the package on NPM as well

[2021-02-14 13:14] thegecko commented on #409
Fixed in v1.6.5

[2021-02-14 13:14] #409 closed

[2021-02-14 13:16] thegecko commented on #401
Thanks @kevinmehall First release mad 🤞

[2021-02-14 14:04] thegecko opened #413 "v2.0 API design"
As discussed in #401, we are considering merging the [webusb](https://github.com/thegecko/webusb) library into `node-usb` in order to take advantage of a standardised USB API - the [WebUSB API specification](https://wicg.github.io/webusb/).

I'd like to consider bringing in and merging the webusb library wholesale, however this comes with some drawbacks:

**Device**
- Potential loss of some of the

[2021-02-15 13:57] gniezen commented on #380
This should be resolved once #399 is merged.

[2021-03-11 16:24] dvil88 opened #414 "LIBUSB_ERROR_IO on Ubuntu"
Well I'm experiencing some issues in Ubuntu 20.04 (couldn't test in any other version). This is the test code:

[code]

And these are the results in Ubuntu 20.04,  MacOS 10.15 and Windows 10:

**Ubuntu 20.04**

Result:
[code]

**MacOS 10.15**

Result:
[code]

**Windows 10**

Result:
[code]

In all the systems the buffer sent is `<Buffer a1 86 00 02 00 03 01 00 00>`

lsusb result:
[code]

Udev rule

[2021-03-11 18:15] dvil88 commented on #414
@kevinmehall You are right... And it's strange because there isn't any app trying to access it (at least on my hand), I've even created a new VB machine, passthrough the webcam and got exactly the same errors, and It was a fresh Ubuntu.

Weird things :/

Thanks mate!

[2021-03-11 18:15] #414 closed

[2021-03-29 09:47] jimmyrogue opened #415 "Why my getStringDescriptor return error uninitialized even after device.open?"
[code]

console.log = stringDescriptor undefined uninitialized

help me plz

[2021-04-06 10:56] mttjcksn commented on #349
Hi all,

I'm trying to use this (or indeed any!) usb library within my typescript reactjs electron app.  Using node-usb as described in this project's readme, I get the following error:

`TypeError: exists is not a function.    Function.getRoot (node_modules/bindings/bindings.js:202)`

I'm also not using webpack.

I have run `electron-rebuild - f w usb `, and added a `bindings.js` to `node_modules

[2021-04-11 10:13] thegecko commented on #401
@rwaldron I'm keen to add some self-hosted runners to GitHub actions on this repo to enable creation of prebuilds not supported by the runners provided by GitHub (e.g. rpi, MacOS M1).

In order to manage these runners, I believe I need to be given admin access to this repo. Is this something you can do?

[2021-04-13 14:56] KevinHernandez8 opened #416 "Build errors on installing this dependency"
I have a problem installing this dependency in my bitbucket pipeline. It seems it aims to a different url when it is building files.
I know you made a release 3 days ago with different assets but the installation uses a diferent file and it does not find it.
It is aiming specifically to this URL but I do not why = https://github.com/tessel/node-usb/releases/download/v1.7.0/usb-v1.7.0-napi-v7.1.13-

[2021-04-14 11:17] Nikola92 commented on #416
I have the same problem today when i'm trying to build electron on windows. Until friday this problem did not show up.

`prebuild-install http request GET https://github.com/tessel/node-usb/releases/download/v1.7.0/usb-v1.7.0-napi-v4.2.12-win32-ia32.tar.gz
    prebuild-install http 404 https://github.com/tessel/node-usb/releases/download/v1.7.0/usb-v1.7.0-napi-v4.2.12-win32-ia32.tar.gz
    prebuil

[2021-04-15 10:42] thegecko commented on #401
@kevinmehall regarding the libusb version, could you confirm what functionality would be lost on Windows if we move to using the official libusb releases?

Is it the ability to emit events when a known device is disconnected and reconnected?

What are your thoughts on integrating a library such as `libwdi` to avoid users needing to install drivers?

[2021-04-16 16:24] kevinmehall commented on #401
Correct. The libusb [hotplug APIs](http://libusb.sourceforge.net/api-1.0/libusb_hotplug.html) are unsupported on Windows. This maps to the `'attach'` and `'detach'` events in node-usb. [The version of libusb used in node-usb](https://github.com/kevinmehall/libusb/commits/hp) is based on one of the previous attempts at implementing hotplug on Windows that seemed to work but never got merged upstrea

[2021-04-20 11:19] EvanXzj opened #417 "【Help】/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found"
## Error Info
When  run `require('usb')` inside `node:10` docker image , I got this error:

[code]

## Steps for error reproduction

[code]

How can I fix this issue? Looking forward to your reply， Thanks!

[2021-04-20 17:03] pedronieto84 commented on #416
Hi guys, exactly same problem I have here. It's aiming at a Release that doesn't exist.

[2021-04-20 19:01] Nikola92 commented on #416
Hi guys, I managed to solve my problem by uninstalling node version 10.16.0 and then installing node version 10.15.3. That solved my problem when I try to build electron on windows. I get some warnings in the building process for some deprecated modules, but the process finished successfully. Hope this would be helpful

[2021-04-28 20:37] robertdrolland commented on #417
I ran into this issue as well when was doing a clean up of unused modules and the usb 1.6.5 was accidentally upgraded to 1.7.0.  I ended up downgrading back to 1.6.5 and the issue went away (changed the package.json for the project I used this in from ^1.6.5 to ~1.6.5 so that it didn't simply grab the latest 1.x).

[2021-04-29 08:40] joelpurra opened #418 "Slowdown since upgrade from v1.6.5 to v1.7.0"
Compared to `node-usb` https://github.com/tessel/node-usb/releases/tag/v1.6.5 (released 2021-02-14), merely upgrading to https://github.com/tessel/node-usb/releases/tag/v1.7.0 (released 2021-04-10) seems to add a long delay (several seconds) just before the program exits.

Can someone else confirm? Are there any timing tests, or at least test logs with timestamps, available for comparison between

[2021-04-29 17:10] joelpurra commented on #418
Did some further testing, and can verify that behavior differs between `node-usb` v1.6.5 and v1.7.0, as well as Node.js v16.0.0 and previous versions. Tested on Ubuntu 20.10 and macOS 10.14 (Mojave).

Timing summary:

| | v12.22.1 | v14.16.1 | v16.0.0 |
| --- | ---: | ---: | ---: |
| v1.6.5 | 50 ms | 50 ms | 50 ms |
| v1.7.0 | 8000 ms | 8000 ms | ∞ |

Created a proof-of-concept repository.

- http

[2021-05-04 08:44] thegecko commented on #418
As mentioned here: https://github.com/tessel/node-usb/pull/399#issuecomment-812550154 this is likely to do with the switch to Node-API (which brings a lot of other benefits) and the `ThreadSafeFunction`. Any help appreciated.

[2021-05-04 08:47] thegecko commented on #401
I'm wondering if switching to `WinUSB` (obviously for Windows only) could be a way to get the features we need. The official `LibUSB` library could then be used for other hosts.

[2021-05-04 13:17] joelpurra commented on #418
@thegecko: had a look, but didn't get far in terms of fixing the delay. (C/C++ isn't my thing.) Sent pull-requests for some minor issues.

[2021-05-05 06:57] systemmonkey42 opened #423 "Latest release (1.7.0) incompatible with Ubuntu 120.04"
The latest release downloads prebuild binaries which require a newer version of GLIBC.

[code]
Release 1.6.5 works ok.

The package.json install script performs the prebuild-install and on failure *would* invoke node-gyp, however it
is succeeding in installed the wrong binaries.

[2021-05-05 18:21] thegecko commented on #417
Hi @EvanXzj Thanks for the feedback and repro steps.

I believe this is to do with the version of glibc in the ubuntu used to create the rebuilds. I'll create a testing version with an older ubuntu to see if it fixes the issue.

[2021-05-05 18:29] thegecko commented on #423
Thanks @systemmonkey42 , this is a duplicate of #417

[2021-05-05 18:29] #423 closed

[2021-05-05 18:45] thegecko commented on #416
Hi all, thanks for the feedback. I'm really struggling to reproduce this. I've tried different versions of Node on Linux and Mac machines and they all find the correct prebuilt binary.

The URLs prebuild is trying are definitely wrong. They shouldn't be specified as an exact version (and certainly not v7!)

https://github.com/tessel/node-usb/releases/download/v1.7.0/usb-v1.7.0-napi-v7.1.13-linux-x

[2021-05-05 19:17] thegecko commented on #417
@EvanXzj , @robertdrolland I've recreated the release using `ubuntu 18.04` and believe this has fixed the issue.

Would you mind testing the pre-release using the repro steps?

[code]

[2021-05-05 19:19] thegecko commented on #416
@KevinHernandez8 @Nikola92 @pedronieto84 I've created a testing release which outlines the change to the install script mentioned above.

Would any of you confirm if this fixes the issue when trying:

[code]

[2021-05-05 22:36] systemmonkey42 commented on #417
Its working for me.

I did a quick test (npm pull usb@testing) before launching my app, and the GLIBC error was gone!

Thanks.

[2021-05-06 05:33] EvanXzj commented on #417
@thegecko Thanks!!

when 1.7.1-alpha.1 (testing) version will be to the latest version?

[2021-05-06 05:33] #417 closed

[2021-05-06 11:41] thegecko commented on #417
I plan to make a release once we have confirmation that #416 is fixed.

[2021-05-07 04:57] EvanXzj commented on #417
@thegecko  Okay, Thanks

[2021-05-12 20:12] dk7988 opened #425 "HELP -- I have no idea why this addon will not install (keep getting gyp error)"
hello, I'm trying to install "node-use" and/or "node-usb-detection" addon on my Win10 machine however, I keep getting the gyp errors.. here is what i've tried so far that has not worked.

1.) installed both "node-use" and "node-usb-detection" addons
2.) checked all requirements for  "node-gyp" that are laid out here https://github.com/nodejs/node-gyp
3.) installed "node-gyp" (looks to have install

[2021-05-13 23:57] dk7988 commented on #425
i think i got it.. i feel like it was more of an accident but just in case it wasn't here's what i did.

1.)  downloaded a zipped copy from "https://github.com/tessel/node-usb"
2.) then copy/pasted from my "downloads" folder to my primary "node_modules" folder (i'm calling the primary node.js folder the folder that has the node_modules folder, the node "dependencies" package.json, node package-loc

[2021-05-14 00:22] dk7988 commented on #425
now that i'm messing with it more i think the real answer was to do steps 4-7(a-f) cause now "npm install usb" is working

[2021-05-14 00:22] #425 closed

[2021-05-17 14:36] peteruithoven commented on #15
Could someone share an example? Easily with `controlTransfer` is a bit of a understatement as it requires 5 arguments, which are not exactly intuitively named.

[2021-05-17 14:42] peteruithoven commented on #15
( I see you did add this convenience function `getStringDescriptor` in: https://github.com/tessel/node-usb/commit/7f6939fd42c19e91a4e4864202942e74d3568038 )

[2021-05-18 09:45] juliusvaart commented on #247
Adding the MODE="0660" permissions and adding GROUP="plugdev" to all USB-devices fixed it for us on Ubuntu 20.04.

Add:
`SUBSYSTEM=="usb", MODE="0660", GROUP="plugdev"`

To:
`/etc/udev/rules.d/99-usb-permissions.rules`

Reload udev rules
`sudo udevadm control --reload-rules`

Reboot or replug USB-devices.

[2021-05-22 22:42] busticated commented on #413
thank you @thegecko for stepping up to help w/ maintenance 🙏

one thing i'd love to see considered: bundling all platform binaries into the npm package using [prebuildify](https://github.com/prebuild/prebuildify) as it greatly simplifies consumption in applications with cross-platform support (e.g. CLIs, VSCode extensions, etc).

fwiw, last i checked, the [node-serialport](https://github.com/seria

[2021-05-30 03:38] EpicVoyage opened #426 "Unable to install 1.7.* on Raspian (Debian for Raspberry Pi)"
Hello,

I use node-usb for a [small project](https://github.com/EpicVoyage/ambientweather-ws3000) on my Raspberry Pi running Raspian. The 1.6 code worked great. With the advent of 1.7, I am seeing installation problems due to _node-addon-api_ and _node-gyp_.

The same thing happens for a `git clone` and `npm install`. This happens for npm package installations of usb@1.7.0, usb@1.7.1, and usb@test

[2021-05-30 08:58] thegecko commented on #426
Prebuild images for RPi (`linux-arm` and `linux-arm64`) are available and should be downloaded. See:

https://github.com/tessel/node-usb/releases/tag/v1.7.1

I've just tested this on the latest RPi images (10.8) both 32bit and 64bit using node 10.24 and all was fine (prebuilt binaries were downloaded rather than compiling).

Can you share:

- debian version
- OS architecture
- Node version

[2021-05-30 21:14] koush commented on #413
I've forked this library and webusb because of the aforementioned issues and here's how I'm approaching it:

Updated to the latest libusb, abandon the fork with hot plug.
Maintaining a libusb fork just compounds maintenance issues. I just want to pull the latest upstream and be done.

The node-usb library should continue to exist as is, maybe even stripped down a bit, as a light verbatim wrapper o

[2021-05-31 05:33] EpicVoyage commented on #426
Thank you for the quick reply! I do see the arm prebuild packages here in github. Here are the system specs:

[2021-05-31 11:20] thegecko commented on #426
Node-api requires at least node v10. Upgrading your node version should resolve your issue.

[2021-05-31 17:10] EpicVoyage commented on #426
Okay, that makes sense. I am using an old Raspberry Pi (v1) with an armv6l processor no longer supported by node. Let me see what I can do about a software upgrade and I will report back.

[2021-06-01 06:36] koush commented on #413
Here are my in progress forks:
https://github.com/koush/node-usb
https://github.com/koush/webusb

I've updated to the latest libusb, converted everything to typescript, and promisified the node-usb API.

[2021-06-01 17:57] jgcook935 opened #427 "LIBUSB_ERROR_ACCESS on Windows using libusb0 (v1.2.40.201) default driver"
I'm seeing issues running node-usb on Windows with the default libusb driver 1.2.40.201. This appears to be the driver which is auto installed by Windows, and is the most recent version. When you open Zadig to install the libusb v1.2.6.0 driver it shows as a downgrade instead of a replacement. I've seen slightly different symptoms when using this driver. In some cases we get LIBUSB_ERROR_ACCESS, a

[2021-06-03 15:14] EpicVoyage commented on #426
After upgrading from Raspbian Stretch (9) [to Raspbian Buster](https://www.raspberrypi.org/blog/buster-the-new-version-of-raspbian/) (10), I can install node v10 and use node-usb. Thanks for pointing me in the right direction!

[2021-06-03 15:14] #426 closed

[2021-06-06 10:37] thegecko commented on #413
@busticated I think that's worth looking into. As binaries are currently created manually for some targets, I think the challenge will be how to automate usage of prebuildify in CI.

@koush You raise some interesting points. Removal of hotplug support will break backwards compatibility (and personally I've had issues with node-usb-detection on Windows as it doesn't always discover serial numbers c

[2021-06-06 16:25] koush commented on #413
That sounds fine, the webusb api is great. I think the low level libusb bindings (this library) should continue to exist because webusb is a limited subset.

incidentally windows hot plug support continued to work even though I switched to upstream libusb which does not have it. Unclear why.

[2021-06-06 21:02] kevinmehall commented on #401
@rwaldron, can you give @thegecko Admin-level access to this repo so that he can configure GitHub Actions?

[2021-06-14 07:05] quinton-ashley opened #429 "Fails build with node-gyp v8.1.0 for electron"
quint@DESKTOP-IGEGRKI MINGW64 /e/dev/apps/nostlan (master)
$ npm run rebuild-w

prebuild-install info begin Prebuild-install version 5.3.6
prebuild-install info install --build-from-source specified, not attempting download.

E:\dev\apps\nostlan\node_modules\usb>if not defined npm_config_node_gyp (node "C:\Users\quint\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..

[2021-06-16 05:34] quinton-ashley commented on #429
worked with latest version of windows 10

[2021-06-16 05:34] #429 closed

[2021-06-21 13:39] ms270169 opened #430 "process exit results in a SIGABRT (exit code 134)"
When using module `usb` in my electron application, a program exit (`app.quit()`, `app.exit(0)` or `process.exit(0)`) always results in an `Aborted` with exit code 134.

Used versions:
* Debian 10
* Electron v13.1.2 (Node 14.16.0)
* usb v1.7.1

The program only uses `usb.on('attach', ...)` and `usb.on('detach', ...)`, and `removeListener(...)` before exit.

According to [https://nodejs.org/api/pro

[2021-06-24 01:32] DrGeoffEdwards opened #431 "Issues getting Node-USB built Electron"
I am on windows 10, relatively new to NodeJS.  I have been trying to install Node-USB and have followed many dead ends.  I am using electron-rebuild with the command  ./node_modules/.bin/electron-rebuild and it progresses through much of the process until here :

⠋ Building module: usb, Completed: 0gyp info spawn C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\MS

[2021-06-24 03:06] qkren opened #432 "Error: LIBUSB_ERROR_ACCESS"
`E:\BACK\record-node-usb\node_modules\usb\usb.js:284
        this.device.__claimInterface(this.id)
                    ^

Error: LIBUSB_ERROR_ACCESS
    at Interface.claim (E:\BACK\record-node-usb\node_modules\usb\usb.js:284:14)
    at Object.<anonymous> (E:\BACK\record-node-usb\index.js:143:21)
    at Module._compile (internal/modules/cjs/loader.js:778:30)
    at Object.Module._extensions..js (in

[2021-06-24 06:03] thegecko commented on #432
This error is usually thrown if the device is in use (claimed) by another program/ process or the udev rules are incorrect when using Linux

[2021-07-04 06:52] Lms76 opened #433 "Japay"

[2021-07-04 11:17] Lms76 opened #434 "ftp apk"

[2021-07-04 17:36] #434 closed

[2021-07-10 13:39] thegecko commented on #413
I've released a first draft of the v2.0 API for discussion. The source is on the [v2.0.0 branch](https://github.com/tessel/node-usb/tree/v2.0.0) and can be installed from npm using:

[code]

# Compatibility
This version should be backwards compatible apart from one known breaking type change:

The `controlTransfer` function now returns a `Buffer` **or** `Number` type to support returning the bytes

[2021-07-10 13:43] #433 closed

[2021-07-10 13:44] thegecko commented on #432
Closing due to no more comments

[2021-07-10 13:44] #432 closed

[2021-07-13 18:58] thegecko commented on #413
Regarding the API design, the public-facing parts are now conveniently exposed here:

https://github.com/tessel/node-usb/blob/v2.0.0/tsc/index.ts

This is where I propose to make any major changes and it currently mimics the existing API (plus additions) as outlined in the post above.

My proposal for changes are as follows:

[code]

cc @kevinmehall

[2021-07-15 11:50] 0xMars4204 commented on #349
@mttjcksn, I have the same issue with you

```TypeError: exists is not a function. Function.getRoot (node_modules/bindings/bindings.js:202)```

Did you find out the solution?

Any help would be appreciated.
Thanks in advance.

[2021-07-15 11:52] thegecko commented on #349
Please ensure you are running `node-usb` in the backend process of Electron

[2021-07-15 11:56] 0xMars4204 commented on #349
How to run `node-usb` in the backend process?
`getRoot` function always trying to find `http://` instead of `file://.

[2021-07-16 16:09] vinnitu opened #435 "serial port device name"
hello!

how to get name of serial port name after attach event?

/dev/ttyUSB0 for exampe? as you understand it can be ttyUSB1 too...

thx

[2021-07-16 16:19] thegecko commented on #435
The lookup to ports in this way isn't supported by this library.

Take a look at:

https://www.npmjs.com/package/serialport

Which I believe gives you a port/serialNumber pair you can link with `node-usb`

[2021-07-30 12:54] danielmain opened #438 "[Bug]: Using node-usb on the Electron main process by exiting a crash popup is displayed"
### Electron Version

### What operating system are you using?

macOS

### Operating System Version

macOS 11.5

### What arch are you using?

x64

### Last Known Working Electron version

8.5.5

### Expected Behavior

After exit Electron, no crash is expected

### Actual Behavior

When I close electron on macOS after having created a listener using node-usb and calling removeListener on 'window-a

[2021-07-30 15:06] danielmain commented on #438
If I disable the line node_usb.cc:175 there is no crash

`// hotplugThis.Reset(info.This().As<Napi::Object>(), 1);`

[2021-08-10 11:20] Yongle-Fu opened #439 "electron-rebuild error"
MacOS 11.5.1 (20G80)

electron_rebuild_test/node_modules/node-addon-api/napi.h:4:10: fatal error: 'node_api.h' file not found
#include <node_api.h>
         ^~~~~~~~~~~~
⠏ Building module: usb, Completed: 01 error generated.
make: *** [Release/obj.target/usb_bindings/src/node_usb.o] Error 1
✖ Rebuild Failed

An unhandled error occurred inside electron-rebuild

[2021-08-10 11:24] Yongle-Fu commented on #439
https://github.com/Yongle-Fu/electron_rebuild_test

[2021-08-10 13:12] danielmain commented on #439
Cloning into 'electron_rebuild_test'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 15 (delta 1), reused 15 (delta 1), pack-reused 0
Receiving objects: 100% (15/15), 5.39 KiB | 5.39 MiB/s, done.
Resolving deltas: 100% (1/1), done.

yarn install v1.22.10
info No lockfile found.
[1/4] 🔍  Resolving

[2021-08-10 13:14] danielmain commented on #439
No problems using your repo

[2021-08-10 14:24] danielmain commented on #438
Thanks to @jjeff we found out that the crash by closing the app, happens only BigSur and Monterrey. we could not reproduce it on MacOS Catalina.

[2021-08-10 14:30] jjeff commented on #438
I am seeing this issue as well on an M1 Macbook Air with Big Sur running the (x64) Electron app under Rosetta.

[2021-08-10 16:48] thegecko commented on #439
Thanks @danielmain. This looks like an environment issue, so closing...

[2021-08-10 16:48] #439 closed

[2021-08-13 19:07] thegecko commented on #438
Awesome work on recreating this issue with a repo. Please bear with me checking the fix, I'm on vacation.

[2021-08-16 17:02] zbs-ha opened #441 "Occasionally an error occurs when calling findByIds / usb.getDeviceList()"
### Environment
- win7 64bit
- electron 12
- usb 1.7.1

### Error stack
![image](https://user-images.githubusercontent.com/27847575/129600826-253fd808-18ad-42dd-97b2-05b8184f85ca.png)

### What went wrong
[code]

[2021-08-16 17:05] zbs-ha commented on #441
When I called again it was normal again, Does anyone know why, thanks!

[2021-08-20 04:22] 20051231 commented on #441
I have same problem with electron 13.
It looks like related with V8 version. The exception is thrown at node_usb.cc line 125
`
arr.Set(i, Device::get(env, devs[i]));
`

The Set function will throw error when the Device object is somehow garbage collected?
When I put all devices enumerated by getDeviceList into a Set to prevent them from garbage collected, subsequent getDeviceList will not trigger

[2021-08-28 16:43] Bellisario opened #442 "How to get user visible drive name (ex. D:)"
I need to know the device location accessible by user when he uses an external usb drive, for example, I need only detect that user have connected usb drives on a specific drive (['D:', 'E:']). Is this possible with this library? I don't know how to get an array, as the previous example.

[2021-08-29 17:13] kevinmehall commented on #442
This library only does low-level USB transfers at the interface / endpoint level for custom devices without kernel drivers. Drive letters happen at a totally different layer (kernel's built-in support for Mass Storage Class devices and filesystems), so this is not the right library for that purpose.

[2021-08-29 17:13] #442 closed

[2021-08-29 18:23] Bellisario commented on #442
Ok, thanks anyway!

[2021-08-30 11:34] thegecko commented on #442
I made a stab at something similar a while back:

https://www.npmjs.com/package/usb-mountpoint

[2021-08-30 12:16] #435 closed

[2021-08-30 12:20] thegecko commented on #416
I think this has been resolved, please re-open if not.

[2021-08-30 12:20] #416 closed

[2021-08-30 13:30] thegecko commented on #438
Fixed with https://github.com/tessel/node-usb/pull/440

[2021-08-30 13:30] #438 closed

[2021-08-30 13:31] thegecko commented on #430
I believe this has been fixed with https://github.com/tessel/node-usb/pull/440

Please reopen if this is not the case

[2021-08-30 13:31] #430 closed

[2021-08-30 13:33] thegecko commented on #441
Can a reliable reproducer for this issue be created?

[2021-08-30 13:34] thegecko commented on #427
Perhaps the device has been claimed by another system?

[2021-08-30 13:37] thegecko commented on #415
Using `String(data)` may not cast the buffer in the way you want.

Perhaps refer to this convenience method as an example for getting the string descriptor:

https://github.com/tessel/node-usb/blob/v2.0.0/tsc/index.ts#L27

[2021-08-30 13:37] #415 closed

[2021-08-30 13:56] 20051231 commented on #441
I think it only happen in Electron renderer process preload script.

package.json
[code]

test.js
[code]

main.js
[code]

index.html
[code]

I had played around different way to load the module in Electron. When loaded in main process or web context in renderer process, it works fine. But when it runs in preload script, it will crash almost every second time it calls `getDeviceList` on my machine.

[2021-08-30 14:43] thegecko commented on #441
Thanks @20051231

I'm glad you have found a workaround here. It looks like it may be a race condition within LIBUSB.
Any help resolving this would be appreciated.

[2021-08-30 15:18] thegecko commented on #413
I've implemented my proposal above and re-released v2.0.0 for feedback:

[code]

[2021-08-30 16:01] mildsunrise opened #444 "Prebuild fixes"
Hi! This is a list of problems with current prebuilds, that I may attempt to fix if I have time:

- [ ] Current prebuilds aren't very portable, since (after the release you are making right now) they target a recent-ish glibc (2.28).
   Unlike musl, on glibc you **must** build against a very old glibc in order to get decent backwards compatibility.
   Targeting glibc <=2.23 gives about 3 years of

[2021-08-30 16:22] thegecko commented on #431
This basic example may help:

https://github.com/node-usb/node-usb-example-electron

[2021-08-30 16:39] thegecko commented on #444
Thanks @mildsunrise , any help would be appreciated.

Comments:

## glibc

All prebuilds are done using debian "buster" based systems, but depending on which prebuild binary you are looking at, they come from different places.

Linux 64 uses a hosted runner for GH actions:
I dropped the linux build runner to ubuntu 18.04 (buster) previously to help with this. It seems to be the oldest supported ru

[2021-08-30 17:47] mildsunrise commented on #444
Hmm, I'd personally recommend using docker + qemu, this way you can create prebuilds for all the archs+distros in one go. You first do:

    docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

And then you can `docker run` images from whatever archs you want. It's substantially slower, but much more simple/portable/automated and you have precise control of the image (I use `nod

[2021-08-30 17:51] mildsunrise commented on #444
The thing is that if a prebuild binary *is* found, the build is always skipped, without testing if that binary actually works.
So if you are using Alpine, or an old distro or whatever, `npm install usb` will skip the build and the binary will just fail to load when you try to `require("usb")`.

After downloading the binary, we should try to `require()` it to make sure it's valid, and fall back to

[2021-09-04 19:47] IceCrafter opened #446 ""Failed to initialize libusb" on a clean install"
Hello! I just freshly installed this module. I ran the prerequisite `sudo apt-get install build-essential libudev-dev` . I am running Ubuntu 20.04 LTS on Windows using WSL 2 with Node 16.8. I just tried starting the program, and it keeps throwing the error mentioned in the title. It doesn't matter what i try, it always tells me that the initilalization failed. Here's a code snippet of what i am tr

[2021-09-04 20:20] kevinmehall commented on #446
I don't think WSL supports USB. You'd need to run the Windows version of Node and node-usb, use a VM like VirtualBox that supports USB passthrough, or run Linux natively.

[2021-09-04 21:45] #446 closed

[2021-09-15 08:55] danielmain commented on #386
Having the same Issue. Thank you @xdimh now can I patch it in my project.

Dont you @xdimh want to create a PR so that the node-usb Team can apply it faster?

[2021-09-29 09:39] xvbo opened #448 "Not Found 404 /releases/download/v1.7.2/usb-v1.7.2-electron-v75-win32-ia32.tar.gz"
prebuild-install http 404 https://github.com/tessel/node-usb/releases/download/v1.7.2/usb-v1.7.2-electron-v75-win32-ia32.tar.gz
 prebuild-install WARN install No prebuilt binaries found (target=7.3.3 runtime=electron arch=ia32 libc= platform=win32)
 packaging       platform=win32 arch=ia32 electron=7.3.3 appOutDir=dist\electron\win-ia32-unpacked

[2021-09-29 19:51] caffeinatedbits commented on #312
@Corben78 the Brother printer issue has now been resolved in node-serialport. See https://github.com/serialport/node-serialport/pull/2325

[2021-09-30 12:08] thegecko commented on #448
We've switched to using Node-API for more recent builds, so this binary shouldn't be being requested. Can you confirm the node version you are using to build the application?

[2021-10-04 11:51] thegecko commented on #401
@rwaldron @tcr @Frijol Bump!

@kevinmehall and myself are requesting admin access to this repository to manage it more effectively, can one of ypu action this, please?

[2021-10-14 17:49] thegecko commented on #413
@jeremywho The API proposal in this PR addresses the interface design and is tangential to the issue you describe.

I don't believe this PR claims to fix the windows sleep issue which is apparent in the libusb implementation and not the JS wrapper.

I'd love to see this issue fixed and believe it has been in various places. if @stberger3040 or @tombertrand could create a PR on https://github.com/n

[2021-10-15 08:03] stberger3040 commented on #124
Thank you @thegecko for taking care of this, I really don't have time. Beware, however that ist is really a quickfix. Devices with an interface path longer than 4096 will stop working with that library. I assumed that this is never the case here (which could be a wrong assumption). The action problem to cause the crash was an integer underflow. `len` was `-1` (which leads to a quite high number wh

[2021-10-15 08:48] thegecko commented on #124
Thanks @stberger3040

[2021-10-15 13:16] yh-Gloria opened #452 "Isochronous transfers"
The limitations show that is not support yet! Will Isochronous transfers be implemented Or how can i  implement it!

From: Rookie
Looking forward to reply

[2021-10-18 02:35] kevinmehall commented on #401
Thanks, @Frijol! And thanks @thegecko  for taking on maintenance of this library!

[2021-10-18 02:35] #401 closed

[2021-10-18 17:08] #444 closed

[2021-10-18 17:11] thegecko commented on #350
This simple example may help you:

https://github.com/node-usb/node-usb-example-electron

[2021-10-18 17:20] thegecko commented on #189
Please re-test this with v1.8.0 or newer and let me know if this fixes the issue.

[2021-10-18 17:25] #5 closed, assigned to kevinmehall

[2021-10-18 17:26] #452 closed, assigned to nobody

[2021-10-19 01:38] xvbo commented on #448
Its working for me.

Thanks

[2021-10-19 06:46] thegecko commented on #448
Great!

[2021-10-19 06:46] #448 closed

[2021-10-20 16:22] #427 closed

[2021-11-07 19:35] thegecko commented on #418
It totally is!

[2021-11-08 12:47] #229 closed

[2021-11-08 12:49] thegecko commented on #343
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:49] #343 closed

[2021-11-08 12:49] thegecko commented on #431
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:49] #431 closed

[2021-11-08 12:50] thegecko commented on #349
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:50] #349 closed

[2021-11-08 12:51] thegecko commented on #87
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:51] #87 closed

[2021-11-08 12:51] thegecko commented on #200
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:51] #200 closed

[2021-11-08 12:53] thegecko commented on #380
I believe this issue is fixed, please reopen if it persists with the latest release.

[2021-11-08 12:53] #380 closed

[2021-11-08 12:53] thegecko commented on #351
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:53] #351 closed

[2021-11-08 12:54] thegecko commented on #355
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:54] #355 closed

[2021-11-08 12:55] thegecko commented on #350
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:55] #350 closed

[2021-11-08 12:56] thegecko commented on #322
This issue should be fixed since we moved to using `node-addon-api` and `prebuildify`. Please reopen this issue if it persists with the latest release.

[2021-11-08 12:56] #322 closed

[2021-11-08 12:57] thegecko commented on #320
Sorry, we can't support implementation-specific issues

[2021-11-08 12:57] #320 closed

[2021-11-08 12:57] thegecko commented on #314
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:57] #314 closed

[2021-11-08 12:58] thegecko commented on #301
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:58] #301 closed

[2021-11-08 12:59] thegecko commented on #292
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 12:59] #292 closed

[2021-11-08 13:00] thegecko commented on #189
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 13:00] #189 closed

[2021-11-08 13:02] thegecko commented on #118
Closing due to inactivity, please reopen this issue if it persists with the latest release.

[2021-11-08 13:02] #118 closed

[2021-11-08 13:03] #76 closed

[2021-11-14 17:03] thegecko commented on #418
I need to reopen this issue as the fix caused other issues. The slow exit reappears in https://github.com/node-usb/node-usb/pull/456

[2021-11-22 06:40] DuBistKomisch opened #457 "electron-rebuild with mismatched NAPI_VERSION fails"
Using 1.9.1.

[code]

"command line" seems to mean this define: https://github.com/node-usb/node-usb/blob/1361698cfc62bcd9f09e0a22fa636d5e02982235/binding.gyp#L29

The node version I'm using (14.18.1) has NAPI_VERSION 8, whereas my electron version 11.2.3 uses node 12.18.3 with NAPI_VERSION 6.

This then causes the `node-addon-api` header to try to wrap a bunch of functions which exist in NAPI_VER

[2021-11-22 06:56] DuBistKomisch commented on #457
Looks like for 1.7.x, I only get the warning and no errors because `node-addon-api` was on an older version presumably without the newer NAPI_VERSION support.

[2021-11-22 09:23] thegecko commented on #457
You shouldn't need to rebuild usb for electron

[2021-11-22 22:27] DuBistKomisch commented on #457
Yes, I think I can workaround this by explicitly listing packages for `electron-rebuild` to rebuild. This still seems like there's something wrong though, do you think it's actually a bug in `electron-rebuild` instead?

[2021-11-23 00:48] DuBistKomisch commented on #457
Okay, looks like `electron-rebuild` isn't handling the different `libc` options on Linux. I'll raise a bug there, that should help avoid running into this.

However, I still think you should be able to build this module manually. I get the same errors when using `node-gyp` directly i.e. `node-gyp clean && node-gyp configure --target=11.2.3 --dist-url=https://electronjs.org/headers && node-gyp buil

[2021-11-23 01:31] DuBistKomisch commented on #457
Looks like `node-gyp` already fixed this issue in 8.4.0, but it only works with Electron 14.2.0 and above, ugh. See https://github.com/nodejs/node-gyp/issues/2534#issuecomment-976089582.

Definitely not a bug with `node-usb` after all!

[2021-11-23 01:31] #457 closed

[2021-11-23 07:59] thegecko commented on #457
Thanks for the awesome investigation

[2021-11-29 11:45] mhcgolds opened #458 "Using usb crashes Electron app in Raspberry Pi 3(Raspbian)"
Im developing an simple electron app for raspberry for personal use to print tickets with thermal printers. To achieve that, Im using a usb thermal printer device plugged in a Raspberry Pi 3 with escpos package([https://github.com/song940/node-escpos](url)) which uses this package.

The thing is that I have developed the whole app in Windows and it works perfectly, but whein I tried to run on rasp

[2021-11-29 12:46] thegecko commented on #458
Could you try with the example electron app?

https://github.com/node-usb/node-usb-example-electron

It's not been tested in RPi, but would be good to know if it works.

[2021-11-29 21:06] mhcgolds commented on #458
Just tried it, but its throwing an SIGSEGV error with a clean installation of your test, running electron with version 16. Downgraded it to version 15.0.0, but the same error. Yesterday a spent like 5~6 hours on this and I had that same problem with my main app, but i did sooo much other stuff about all those problems that I can't remember what solved it, but i solved it.

The error:

[code]

Now

[2021-11-30 11:45] mhcgolds commented on #458
Probably related to [this issue](https://github.com/electron/electron/issues/31123).

[2021-12-04 08:34] MikeColeGuru opened #459 "getDeviceList hangs node.js"
I am not certain if this has been reported before.

I am developing a project using node-usb and it is working great except that node.js will not exit without telling it to with `process.exit(0)`

I wrote a simple program that hangs.
`
const usb = require("usb");
usb.getDeviceList();
`

I am using

- node v16.13.0
- libusb 1.0.23-2build1  (ubuntu package)
- Ubuntu 20.04
- npm package: usb  ^1.9.1

[2021-12-04 09:02] thegecko commented on #459
Can you confirm that this is actually a delay? In this case,  we are aware of an issue that the clean up of node-api code causes a 3-5 second delay on exit

[2021-12-04 09:11] MikeColeGuru commented on #459
I ran it for 3 minutes with no exit.   I can try longer if needed.

[2021-12-04 11:14] thegecko commented on #459
Excellent testing!
Not seen this issue before

[2021-12-04 11:19] MikeColeGuru commented on #459
I have some more info..
I started commenting out things in the C code until it freed up the exit.
This is what I found...

If I comment out these lines in `uv_async_queue.h` the above simple example will exit.

[code]
Lines 15 and 19

[2021-12-04 12:34] MikeColeGuru commented on #459
It appears to never destroy the devices

[code]

It also appears to free them and exit if I expose GC and call it.

[2021-12-04 13:51] thegecko commented on #459
Thanks for investigating this.  It may also be the cause of https://github.com/node-usb/node-usb/issues/418
Any help creating a fix would be appreciated.

[2021-12-05 06:05] MikeColeGuru commented on #459
It looks like I have a fix.  I'm still testing but so far it looks promising.

I moved the start and stop of the completion queue to the open and close methods.

https://github.com/MikeColeGuru/node-usb/commit/8ffbfd15dddd3c367a0d9405b8c1cd3da8c0987a

[2021-12-05 06:09] MikeColeGuru commented on #459
Also, does there need to be a completion queue for every device?  In an experiment, I moved it out of Device and just passed a pointer to it in each Device::get.  Seems to work.

[2021-12-05 10:46] MikeColeGuru commented on #459
Here are some links that may help going forward.

**Event Handling**
http://libusbx.sourceforge.net/api-1.0/group__asyncio.html#asyncevent

**Make Node.js exit regardless of a native module async call pending**
https://stackoverflow.com/questions/58241265/make-node-js-exit-regardless-of-a-native-module-async-call-pending

**libusb_context**
https://libusb.sourceforge.io/api-1.0/group__libusb__lib.

[2021-12-05 15:34] thegecko commented on #459
I moved the start and stop of the completion queue to the open and close methods.
MikeColeGuru@8ffbfd1

Excellent work, your patch passes all the hardware tests and does indeed seem to fix this issue and #418

Could you open a PR, please?

[2021-12-05 20:02] MikeColeGuru commented on #459
Sure ...  https://github.com/node-usb/node-usb/pull/460

[2021-12-05 20:47] thegecko commented on #459
Fixed in #460

[2021-12-05 20:47] #459 closed

[2021-12-05 20:47] thegecko commented on #418
Fixed in #460

[2021-12-05 20:47] #418 closed

[2021-12-06 14:33] joelpurra commented on #418
@thegecko: great, thanks! Just released [`uvcc`](https://github.com/joelpurra/uvcc) v5.0.2, targeting `node-usb` v1.9.2.

[2021-12-08 05:43] andrew-welker opened #461 "Add ability to switch to usbdk backend"
After much reading and trying to get this library and some that rely on it to work with a Logitech C930e camera, I ran across this issue (https://github.com/libusb/libusb/issues/247) in the libusb repo. The suggestion there was to switch the backend that libusb is using to something called usbdk (https://github.com/daynix/UsbDk). There's a snippet of code in the libusb wiki that describes how to (

[2021-12-08 09:11] daniellizik commented on #302
I get this error but only after printing 64 times. On the 65th attempt `interface.claim()` throws the libusb access error

[2021-12-08 09:46] markosole commented on #302
Just an idea from the top of my head, try restarting the sequence and device after 64th read (command to restart or re-init) and see what's happening after.
It could be that device does not "clear" the buffer. I am not 100% sure about this but try.

[2021-12-08 09:48] daniellizik commented on #302
@markosole might be a driver level issue https://github.com/libusb/libusb/issues/16

[2021-12-08 11:43] thegecko commented on #461
This sounds like an interesting addition, can any C++ gurus help out?

[2021-12-09 06:32] daniellizik commented on #302
@markosole I got around this issue by doing the printing in a forked thread. When the thread reaches its specified max print amount (64 or 32 depending on the os architecture) the parent thread spawns a new one and kills the current thread.

[2021-12-09 08:44] markosole commented on #302
@daniellizik  that's great workaround. Good to know, I've tested with two different devices and in a limited environment.

[2021-12-09 16:48] andrew-welker commented on #461
Found a little more information. Based on the documentation for libusb on [SourceForge](https://libusb.sourceforge.io/api-1.0/group__libusb__lib.html#ga07d4ec54cf575d672ba94c72b3c0de7c), the `libusb_set_option` call that's used to set the backend option should be called immediately after the `libusb_init` call occurs. Looking at the code, this occurs in the `Init` method, which, I'm not sure is ca

[2021-12-10 16:45] andrew-welker commented on #461
Well...I forked the repo and made the modification myself. Turns out, it won't solve my issue, as usbdk obtains exclusive access to the device, and I really only need access to the control interface of the camera for my application. This means that conferencing applications that should be able to continue sending video can't cause the device disappears for them. I still think it makes sense to add

[2021-12-11 20:45] esinanturan commented on #302
Can you provide an example , I am having this issue with windows in electron and I don't know what you exactly doing.

[2021-12-16 09:06] alexivaner opened #462 "LIBUSB Error Invalid Param"
Hi, I got this error when using this library with [uvc-control](https://github.com/makenai/node-uvc-control), but I think that the error should be inside the USB library. I got an error like shown in the screenshot below "LIBUSB_ERROR_INVALID_PARAM". It happened when I used the original driver of my PTZ camera. I also tried to install WinUSB and this command worked fine, but the problem is if I re

[2021-12-16 21:56] freshollie opened #463 "Webpack binding loaders struggle to parse bindings import"
*TLDR*: I'm not sure if you are willing or need to make these changes. This write-up might just be so that others who experience this issue understand the fix.

With `1.x`, node bindings were imported in a way which was parseable by webpack bindings parsers like [node-bindings-loader](https://www.npmjs.com/package/node-bindings-loader).

With `2.0.0`, these parsers are not clever enough to resolve

[2021-12-17 09:00] thegecko commented on #463
Interesting. The danger with not using path.join is removes insurances the path is built correctly for the target OS.

[2021-12-17 17:19] freshollie commented on #463
I'll try that, but I'm doubtful. These libraries just try to evaluate whatever is in the brackets after the `node-gyp-build`. I think because normally these imports are considered static and so node-style static string pathing is conventionally used.

[2021-12-29 20:55] Det0xix opened #464 "LIBUSB_ERROR_NOT_FOUND"
Hi, I'm trying to print with my thermal printer (Netum G5), I'm using node-escpos. The error comes from usb package.

[code]

That's the error I get

[code]

I tried installing drivers, but it doesn't work

[2021-12-29 23:08] jp-pino opened #465 "Issue with webpack and electron-forge"
I've recently upgraded an electron-forge project that was using v1.9.1 to v2.0.3. As usual, when I run `npm run start` it starts preparing native dependencies, which recompiles node-usb. This process runs fine:
[code]

I can clearly see that it's producing the build files successfully:
[code]

But they're not being added into the webpack outputs:
[code]

I think the problem is webpack can't find t

[2021-12-29 23:43] jp-pino commented on #465
Adding `node: {__dirname: true}` to my main webpack config seems to have fixed the issue.

[2022-01-05 16:50] gniezen commented on #441
This is consistently happening for me in Electron v16. Not quite sure I understand the workaround?

Anything I can do to provide more details for debugging this?

[2022-01-06 00:40] 20051231 commented on #441
@gniezen my workaround is whenever you get an instance of device, store it in a map to prevent it from garbage collection.

[code]

but if any device is unplugged, the crash still may happens. In my case, from 50% to 10%. I am considering to move my logic into main process instead of renderer process.

[2022-01-13 11:04] gniezen opened #466 "Using navigator.usb in the browser"
Hi there!

With node-usb v2 now supporting the WebUSB API, would it maybe be possible to have the library use `navigator.usb` when available? I would love to be able to use the same code in Node.js, Electron and the browser, and at the moment I'm having to use what feels like a hacky workaround:

[code]

Instead, I would just like to do an `import { webusb } from 'usb';` and have it use `navigator

[2022-01-13 11:53] thegecko commented on #466
Hmm, interesting suggestion.

One drawback would be the user doesn't have control over which implementation is returned (but TBF, I can't think of an environment where both would be available).

[2022-01-15 13:34] thegecko commented on #466
Something like #467?

[2022-01-17 19:26] petertorelli opened #468 "TypeScript definitions do not export "Interface" in legacy API"
Why is "Interface" not exported by the usb API shim? I'm unable to declare a typescript type `usb.Interface`.

It appears the `@types/usb` are still 1.5.2, perhaps that is the problem?

[2022-01-18 08:01] zrl1012 opened #469 "usb.on is not a function"
usb.on is not a function

[2022-01-18 13:30] thegecko commented on #469
useful.

[code]

[2022-01-18 13:30] #469 closed

[2022-01-18 16:56] #468 closed

[2022-01-19 10:28] gniezen commented on #466
Yes, that looks like it will work just fine!

[2022-01-28 06:27] dohooo opened #472 "Does not support the ARM"
First many thanks to the great contributors for making such an amazing project. Thank you for your efforts! 🍺

Reproduce steps:
1.  git clone https://github.com/dohooo/node-usb-reproduction.git
1.  yarn
1. yarn watch

You will then see this error on the console, The code is here `/Users/zhaodonghao/code/temp/vite-electron-builder/packages/preload/src/sha256sum.ts`

Logs:
<img width="964" alt="imag

[2022-01-28 06:27] dohooo commented on #472
@thegecko 🙏

[2022-01-28 17:08] dohooo commented on #472
Related with https://github.com/electron/electron/issues/32662

[2022-01-29 22:25] thegecko commented on #472
Thanks for noticing this, it was an oversight

[2022-01-29 22:27] #472 closed

[2022-01-29 22:28] #466 closed

[2022-02-03 18:22] RReverser opened #475 "Invalid memory read in configurationName"
I have a Sony a6600, configured with Zadig on Windows to use WinUSB.

When queried via WebUSB from latest Chrome, the configurations look like this:

[code]

However, when queried via WebUSB implementation in node-usb v2.1.0, the same device's configurations return:

[code]

I suspect something in node-usb is not handling missing `configurationName` correctly, and ends up reading invalid memory.

[2022-02-03 18:24] RReverser commented on #475
Same happens in other null-ish names, e.g. in alternates.

Chrome:

[code]

Node:

[code]

[2022-02-04 20:40] RReverser commented on #463
All systems supported by Node.js are happy to accept `/` as a delimiter, so that shouldn't be a problem.

[2022-02-07 01:44] ColPaulR opened #476 "LIBUSB_ERROR_IO on .controlTransfer"
I am trying to send 3 bytes to a device to set the LCD display to the values I want. When I sniff the usb protocol with BUSDOG, I see the 3 bytes go across from another program. When I try to replicate with the below code, it runs but does not actually send the control transfer. When I step into .controlTransfer, everything works until the error exception is caught at line 175. The error message i

[2022-02-08 21:48] pelikhan opened #478 "getEndpoint fails eagerly"
I am in the process of porting our legacy node-webusb to node-usb and found this issue.

In `WebUSBDevice.getEndpoint`, there is a call to `iframe.endpoint(...)`
![image](https://user-images.githubusercontent.com/4175913/153081221-f1fbf905-efd9-493a-b999-890604cc4667.png)

This call fails eagerly instead of letting the loop go through
![image](https://user-images.githubusercontent.com/4175913/1530

[2022-02-09 09:19] thegecko commented on #478
Thanks, I can see the problem. Will something like #479 fix you?

[2022-02-09 16:44] pelikhan commented on #478
Yes that fixed it.

[2022-02-09 16:49] #478 closed

[2022-02-10 16:30] pelikhan opened #480 "missing libudev on raspbian?"
It seems that libudev-dev is not installed by default on raspbian; as a result, node-usb fails to install.

[code]

I installed it manually and run the install again and things worked.
[code]

I wonder if this kind of dependencies can be baked into the package.json.

[2022-02-10 18:38] thegecko commented on #480
`libudev-dev` is a compilation requirement which would be difficult to include.

I'm more concerned why the prebuilt binaries don't work (RPi should use the arm-linux prebuilds)

[2022-02-10 19:09] thegecko commented on #480
I've just tested `v2.1.2` on rpi and rpi64 with no issue. They use the shipped prebuild binaries.

There should be no need to compile the package, are you trying to rebuild the package with `electron-rebuild` or similar?

[2022-02-10 19:11] pelikhan commented on #480
I was doing a yarn install on my package that uses usb v2.1.2.

I did run apt update/upgrade before that. Maybe I need a new image.
________________________________
From: Rob Moran ***@***.***>
Sent: Thursday, February 10, 2022 11:10:04 AM
To: node-usb/node-usb ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [node-usb/node-usb] missing libudev on raspbian? (Issue #4

[2022-02-10 19:13] thegecko commented on #480
TBF, this is all testing via a remote CLI, but I doubt running it through raspbian should make a difference.

[2022-02-14 08:04] YiyuanYin opened #481 "Attaching usb doesn't trigger usb.on('attach') event"
I have an electron application that use this package to listen to the usb attach event. Sometimes attaching a usb can trigger `usb.on('attach')` event, sometimes it won't.
The code checking whether a usb is attached is by finding the new device which has the different `deviceAddress` from the former one. However, sometimes when a usb is attached, the `deviceAddress` is the same as the old ones in

[2022-02-16 15:42] Rutvij-dev opened #482 "Can we use USB functions ?"
Hi,
Can we use this library to have Generic USB functions?

I am looking for the below functions
1. USB Mass storage - Should be able to read/write
2. USB serial - serial consol
3. USB HID - Keyboard/mouse event
4. USB video class

Any pointer or links will be appreciated.

--
Thanks
Rutvij

[2022-02-16 16:37] thegecko commented on #482
This library is for low-level access as exposed by libusb.

For the higher level functionality you mention, I'd recommend looking at the following:

Use the node fs module, finding the usb mountpoint with a library such as:
https://github.com/thegecko/usb-mountpoint

https://serialport.io/

https://www.npmjs.com/package/node-hid

No idea!

[2022-02-16 16:37] #482 closed

[2022-02-19 11:41] thegecko commented on #481
The attach/detach events are exposing hotplug events from the [libusb](https://github.com/libusb/libusb) library (except on Windows)

Perhaps you need to raise this issue there?

[2022-02-25 07:34] Kainos-SU opened #483 "LIBUSB_ERROR_ACCESS while calling device.open()"
Hello, it is my first time I post an issue on github, plus I have a poor knowledge of English, so I am sorry.
I have computer on Linux Mint and thermal USB printer CUSTOM, vendorId = 0xdd4. When i try to found and open device programm fails whith error `LIBUSB_ERROR_ACCESS`. But I found thet when I run before `sudo chmod -R 777 /dev/bus/usb/` then error not apear.
I work first time whith USB devic

[2022-02-25 07:56] thegecko commented on #483
Please look into udev rules when using usb devices in Linux

[2022-02-25 08:27] Kainos-SU commented on #483
I am sory, but I not wery familiar with USB at all, can you guide me to sources where I can learn how to configure `udev` for my purposes?
And also can I make this by my software?

[2022-03-17 19:48] daniloMogin opened #484 "Error in webusb-device.d.ts"
I'm getting this error while starting the application, and I just imported the library.

`node_modules/usb/dist/webusb/webusb-device.d.ts(6,22): error TS2720: Class 'WebUSBDevice' incorrectly implements class 'USBDevice'. Did you mean to extend 'USBDevice' and inherit its members as a subclass?
  Property 'forget' is missing in type 'WebUSBDevice' but required in type 'USBDevice'.`

[2022-03-18 09:09] thegecko commented on #484
This was just fixed in #485 and the latest release (v2.1.3) should resolve the issue.

For older versions of node-usb, this should be fixable with a resolution to an older version of the webusb types:

[code]

[2022-03-18 09:09] #484 closed

[2022-03-18 15:31] thegecko commented on #463
I think you may be able to work around this with the `__dirname` setting in webpack 5:

https://webpack.js.org/api/module-variables/#__dirname-nodejs

[2022-03-20 10:04] dadinugroho opened #486 "winusb + bartender"
I used library tscprinter, https://github.com/ThinhVu/tsc-printer-js. This library requires me to install this node-usb package and upgrade the Xprinter 360B I used to use winusb driver.

Everything works fine, until I want to use seagull bartender on the same pc. My bartender refuse to connect to the printer. I need to reinstall the driver and found out that my app stopped working. So, now I can

[2022-03-20 15:12] thegecko commented on #413
API now implemented

[2022-03-20 15:12] #413 closed

[2022-03-20 15:19] thegecko commented on #475
TBF, I see the same behaviour with chrome on Mac OS ('Љ' appearing for empty strings). I fear this is an issue far lower in the stack.

A quick google shows this turn up in other usb implementations, too :/

[2022-03-20 16:35] kevinmehall commented on #475
String descriptor index 0 is supposed to be a list of supported languages rather than a string. 0x0409 is the language code for US English. 0x0409 as a character in UTF16-LE is `Љ`. So it should interpret string descriptor index 0 as null instead making a GET DESCRIPTOR request.

[2022-03-20 17:21] thegecko commented on #475
Ooh I wasn't aware of that, I'll create a PR...

[2022-03-20 17:45] thegecko commented on #475
Fix in #487, does that look right?

[2022-03-21 00:57] kevinmehall commented on #475
Yep :+1:

[2022-03-21 07:03] #475 closed

[2022-03-21 17:32] thegecko opened #488 "Use native usb device detection on Windows"
The current device detection on windows uses a polling mechanism from JavaScript which feels wasteful and dirty.
I plan to try merging the native code from the [node-usb-detection library](https://github.com/MadLittleMods/node-usb-detection) to undertake this in a cleaner way.

Rough plan could be:

- [x] Add native source into node-usb and get it compiling in the CI
- [ ] Wire in the detection st

[2022-03-24 18:37] mildsunrise commented on #383
Update: libusb did fix the loop starvation issues in https://github.com/libusb/libusb/commit/006ca0fbaa447cac329579d1072304833208358c, which landed in v1.0.24.
I haven't tested yet, but upgrading to v1.0.24 should suffice to get fixes on linux / darwin.

[2022-03-24 18:56] mildsunrise commented on #441
I'm consistently hitting this, on regular time intervals (once every ~minutes) in Node.js 14.
I'll try to debug.

[2022-03-24 19:28] thegecko commented on #383
Thanks, I have tried upgrading to 1.0.24 and had issues. I'll try again...

[2022-03-24 19:49] thegecko commented on #383
Wow, didn't expect that! It worked first time:

https://github.com/node-usb/node-usb/pull/490

[2022-03-24 19:50] #461 closed

[2022-03-24 20:19] mildsunrise commented on #383
Nice!! I'm also seeing you're now using NAPI threadsafe functions instead of a custom queue, so that should take care of the loop starvation for Windows. (And if it doesn't it should be Node.js responsibility, not yours)

So when #490 merges, this can basically be closed. I'd like to test someday, let's see if I have time.

[2022-03-24 20:49] mildsunrise commented on #441
Okay, it took me a while to realize this "Invalid argument" error message does *not* come from libusb, it seems to be an N-API error: https://github.com/nodejs/node/blob/718be08686312d19645861b9715491a49ee3c9cb/src/js_native_api_v8.cc#L730
which is thrown as a C++ exception by the N-API C++ wrapper.

maybe `napi_invalid_arg` is thrown [here](https://github.com/node-usb/node-usb/blob/007e702c3053f4

[2022-03-24 23:49] mildsunrise commented on #480
This issue should be closed, as libudev should never be bundled statically AFAIK.
Instead we should add instructions to the README telling users to install `build-essential libudev-dev` if the prebuilds don't work.

And yes it is normal for prebuilds not to work, especially on Raspis and other embedded devices, because of libc compatibility issues:

[code]

In that case it will fall back to compil

[2022-03-24 23:51] mildsunrise commented on #465
This is a duplicate of #463, I think

[2022-03-25 00:00] mildsunrise commented on #365
this looks like a loop starvation problem, see #383.
if you're on windows, could you try with the latest v2?
the loop should behave more fairly (or at the very least, not become completely unresponsive).

[2022-03-25 00:02] mildsunrise commented on #387
outdated, we're no longer using nan

[2022-03-25 00:11] mildsunrise opened #491 "Make the addon context-aware"
It would be great if we could make node-usb [context aware](https://nodejs.org/api/addons.html#context-aware-addons), i.e. so it can be initialized multiple times from different Node.js instances (node_envs). (Actually the addon incorrectly declares itself as context aware, and that's why users get crashes)

This way it can safely run in Electron and worker threads, probably fixing: #458 #378

Thi

[2022-03-25 00:36] mildsunrise commented on #285
I think this can be closed in favor of #386

[2022-03-25 00:36] mildsunrise commented on #386
IIUC we gave up on using a patched libusb (#453), so v1.9+ currently has no real hotplug support on windows and falls back to periodic polling from JS.

That will hopefully change with #488.

[2022-03-25 02:42] petertorelli commented on #365
@mildsunrise I'll give it a try and report back, it'll take me about a week to get setup to do this. The device in question is a USB3.0 voltage & current meter that sends a constant 32MB/s stream of data, so that probably qualifies as "If USB events are arriving fast enough".

[2022-03-25 02:46] mildsunrise commented on #365
yeah, that qualifies :) it also depends on the amount of work you do immediately in the transfer completion callback.
I'm not 100% sure this is a loop starvation problem, and also not 100% sure loop starvation is now solved on Windows, so don't hold your breath on it, but testing can't hurt.

[2022-03-25 07:04] #387 closed

[2022-03-25 09:37] gniezen commented on #441
Amazing work, thanks @mildsunrise !

[2022-03-25 10:26] mildsunrise commented on #441
I left the application running overnight with #492 applied and hit no errors.
So I think this can be closed when #492 is merged.

[2022-03-25 14:56] #441 closed

[2022-03-25 15:00] thegecko commented on #480
I'll close this issue as I agree libudev-dev is an end user concern.

@mildsunrise , if you want to look at the prebuild images, they are maintained here:

https://github.com/node-usb/docker-images

[2022-03-25 15:00] #480 closed

[2022-03-25 15:01] thegecko commented on #465
Thanks, please re-open this if required

[2022-03-25 15:01] #465 closed

[2022-03-25 15:01] thegecko commented on #285
Thanks, please re-open if required

[2022-03-25 15:01] #285 closed

[2022-03-25 15:01] pelikhan commented on #480
A little note in the readme would be awesome! Thanks for digging into this.
________________________________
From: Rob Moran ***@***.***>
Sent: Friday, March 25, 2022 8:00:46 AM
To: node-usb/node-usb ***@***.***>
Cc: Peli de Halleux ***@***.***>; Author ***@***.***>
Subject: Re: [node-usb/node-usb] missing libudev on raspbian? (Issue #480)

I'll close this issue as I agree libudev-dev is an end us

[2022-03-25 17:12] thegecko commented on #383
v1.0.25 is now the libusb version used in usb@v2.2.0

[2022-03-25 17:13] thegecko commented on #365
Fixes now in usb@2.2.0

[2022-03-25 20:19] mildsunrise commented on #491
@thegecko thanks for taking on this. if I ever have time to work on it myself, I'll hit you up.
Looking more at the code, I think the most complicated part is going to be the cleanup.

[2022-03-25 20:32] mildsunrise commented on #481
You mentioned "The code checking whether a usb is attached" so I assume you're in Windows.
There's #488 to try to implement actual hotplug detection support on Windows.

[2022-03-25 21:10] ottomated opened #494 "v2.2.0 segfaults on Arch Linux"
After upgrading to v2.2.0, the following code sometimes segfaults on Arch Linux, killing the entire node process:
[code]
After reverting to 2.1.3, the same code functions properly.

[2022-03-25 23:05] mildsunrise commented on #494
hmm, in that case it has to be because of https://github.com/node-usb/node-usb/pull/492... let me check

[2022-03-25 23:43] mildsunrise commented on #491
by the way, we may want to wait until v1.0.26 is released, which fixes a bug regarding cleanup, see https://github.com/libusb/libusb/commit/c3639bc23eaaed7fa94d377af42f00ddc5083de2

[2022-03-25 23:50] mildsunrise commented on #494
ah no, it bisects to the upgrade to libusb v1.0.25 (#490).
it seems to be libusb/libusb#1059, which is popping up in other apps and distros as well.
the bug was fixed in https://github.com/libusb/libusb/pull/1073 (https://github.com/libusb/libusb/commit/7cc06ea5c7c3b36801421a6be17b51b92c1bc05a) but is still unreleased.

I can confirm that applying this fix solves the issue. like I said it hasn't l

[2022-03-26 09:58] mildsunrise commented on #365
btw, you may also want to check out my implementation of `startPoll`: https://github.com/mildsunrise/hackrf.js/blob/f786db1959767bdc1e241f3544c83e1250bf2121/lib/interface.ts#L36

it defers work to `setImmediate` in order to keep the loop responsive to other events. even if v2 improves things, it's always a good idea to do something like this in your code.

I've successfully used it to stream 40MB/

[2022-03-26 10:57] thegecko commented on #386
Although the current polling mechanism on Windows is sub-standard, I'd still be keen to know if the switch to more recent upstream libusb has fixed this crash (any usb release since November 2021 / usb@1.9.0).

[2022-03-26 11:20] mildsunrise commented on #386
the crash is from a patch that we used to apply to libusb in order to get hotplug support for windows. the code is no longer there since we switched to upstream libusb

[2022-03-26 13:40] thegecko commented on #386
Excellent,  closing.  Please re open this if required.

[2022-03-26 13:40] #386 closed

[2022-03-27 15:02] sebastianrath opened #495 "LIBUSB_ERROR_NO_DEVICE during startup of Electron app on Windows"
Hey there, we use `libusb` to detect attach/detach events of USB devices in our Electron app. We recently came across two users that reported the error below.

I'm not sure if this is caused by registering the event handlers, or if this caused by loading the module in the first place. Can anyone shed some light on this?

I found this issue https://github.com/node-usb/node-usb/issues/173 but it onl

[2022-03-27 17:53] mildsunrise commented on #495
I think it's a race. a while ago, we replaced the native hotplug patch with an emulation by periodically polling the output of `getDeviceList()` and taking differences:

https://github.com/node-usb/node-usb/blob/54c6e5dfc4cc990d278805b7ed6d32825b17479d/tsc/usb/index.ts#L60-L74

this `deviceAddress` isn't a property, it's a getter that calls `libusb_get_device_address`. it's possible for a device t

[2022-03-27 19:04] mildsunrise commented on #481
By the way, I've just realized why this doesn't work... `deviceAddress` is only unique *within the bus the device is connected to*.
To properly identify the device, we need the `busNumber` too. Something like the `deviceId` from WebUSB:

https://github.com/node-usb/node-usb/blob/c42aa55fba09ea65c660d78cdd3779cb29f1d04c/tsc/webusb/index.ts#L347-L353

But I think we can do it even simpler... libusb

[2022-03-27 19:30] mildsunrise opened #497 "allow unreffing hotplug"
little feature request, very low priority, just here to remind myself in case I have time someday.

it would be cool if `usb` had `ref()` and `unref()` methods (like all Node.js event sources) to allow not holding the event loop alive. some projects may need it.

[2022-03-30 21:22] phidgets opened #498 "WebUSB layer mutex issues"
The WebUSB layer adds a mutex which locks around every call into the device.

First, the mutex is written such that a lock awaiter won't always acquire the lock next.

If I poll an endpoint in a loop:

for (;;) {
  const data = await dev.transferIn(1, 64);
  processData(data);
}

And then somewhere else I want to write to an endpoint:

await dev.transferOut(2, buf);

The second transfer just waits

[2022-03-31 22:43] mildsunrise commented on #498
This was something I also wanted to work on. Even if the mutex was fair and did FIFO or something, it would still defeat the point because you'd only be able to have 1 simulataneous transfer on a device.

On I/O heavy applications, it's standard practice to keep multiple active transfers with the device at all times to get good bandwidth.

I remember I tried to `git blame` to figure out if the mut

[2022-04-01 18:55] noah-moutfitters opened #499 "Intermittent Failure during `getDeviceList` call"
I am currently experiencing an issue where there is an intermittent error being thrown when calling `getDeviceList`. The error thrown is `Error in native callback`. I am unable to identify exactly where and why the error is thrown. Any suggestions would be helpful.

[2022-04-02 09:31] roman-veryovkin commented on #499
I have the same issue. Any help would be pretty much appreciated as this problem is very annoying.

[2022-04-02 13:00] sergeu90 commented on #499
I have some issue

[2022-04-02 13:05] sergeu90 opened #500 "Electron App crash."
Hello everyone. I have some strange problem. I use webusb and sometimes my app crash

Tested on macos and windows. Could you help me please.

[code]

[code]

[2022-04-02 18:43] thegecko commented on #498
I wrote the WebUSB device wrapper for a different project and can't remember why the mutex was added. Memory isn't what it used to be!

I've removed this over in https://github.com/node-usb/node-usb/pull/501 and all the tests still seem to pass.

Shall I create a test release for you to try?

[2022-04-02 18:46] thegecko commented on #500
Looks like a crash in libusb after a transfer. @mildsunrise any idea?

[2022-04-02 18:48] thegecko commented on #499
Could you confirm the version this issue is appearing in and whether it's still an issue in v2.1.3

[2022-04-02 18:49] sergeu90 commented on #499
Yes. It is on last version

[2022-04-02 18:51] thegecko commented on #497
Would that be similar to the hotplug ref/unref but for the [usb_context](https://github.com/node-usb/node-usb/blob/master/src/node_usb.cc#L15)?

[2022-04-02 18:52] thegecko commented on #499
Theres been some larger changes in the latest release, can you confirm if you still see the issue if you roll back to `v2.1.3`?

[2022-04-02 18:57] sergeu90 commented on #499
Yes. My app crash sometimes on 2.1.3 also. Our code connect to the thermal printer and send command. After update on last verstion we think problem gone but sometimes we have crash app.

https://github.com/node-usb/node-usb/issues/500

in this ticket i attached crash report.

[2022-04-02 19:03] sergeu90 commented on #500
it is issue reproduce randomize. i can click button many times and all good but sometimes app crash on our clients and developement

[2022-04-02 19:03] thegecko commented on #499
Thanks @sergeu90 I think you may be seeing a different issue to the OP.

@noah-moutfitters would you mind trying `v.2.1.3` too?

[2022-04-02 19:05] thegecko commented on #494
Looks like the v1.0.26 release has been pushed to April 10, 2022

[2022-04-02 19:13] sergeu90 commented on #500
On mac os issue reproduce each time. when i press btn find devices and after i selected device and attempt to do repeat action and app crash. but on windows randomize

[2022-04-02 19:17] noah-moutfitters commented on #499
@thegecko thanks for looking into this. My current version is `v.2.1.2` according to my lock file.

[2022-04-02 19:22] noah-moutfitters commented on #499
And I will look into that tomorrow, currently not at computer.

[2022-04-02 19:35] sergeu90 commented on #499
@thegecko  yes it is on v.2.1.2  also

[2022-04-02 20:44] sergeu90 commented on #500
I noticed when a refresh app a get same crash app with libusb in log

[2022-04-02 23:17] dadinugroho opened #502 "printer cannot be used by other app"
Hi All,

I have a case where I wanted to use https://github.com/ThinhVu/tsc-printer-js. This require to use this package. then, I need to run zadig to install winusb driver. This works perfect, until I wanted to use my printer with other label software. My printer is not detected.

How can I still use the printer after I used zadig to installed winusb driver.

[2022-04-03 07:45] roman-veryovkin commented on #500
+1 I am experiecing the same issue in my app. Any ideas how to workaround it?

[2022-04-03 08:14] sergeu90 commented on #500
@thegecko Hi. I rechecked on 2.1.3 and my mac os app not crashed but i have this error.
<img width="607" alt="image" src="https://user-images.githubusercontent.com/7217517/161418613-d51cb104-d3ae-44d9-a8f6-640e18e8ff93.png">

[2022-04-03 11:23] sergeu90 commented on #494
@thegecko Maybe downgrade libusb version?

[2022-04-03 18:36] mildsunrise commented on #494
I'd vote for incorporating the current v1.0.26 rc than downgrading. In the future if there are further changes since the rc, we can bring them as well.

[2022-04-03 18:40] noah-moutfitters commented on #499
@thegecko I know you didn't suggest this but upgrading to `v2.2` solved all of my issues. Weirdly, even a serial port one(although this one occurred even more sparsely, so I am still not sure). I am good with closing this if you are content with solution.

[2022-04-03 18:42] #499 closed

[2022-04-03 18:45] noah-moutfitters commented on #502
@dadinugroho Speaking from personal experience, you may fail at this. Do you know what your original driver was?

[2022-04-04 00:20] mildsunrise commented on #502
I don't use Windows so correct me if wrong, but... it only allows one driver to handle a USB device, right? If instead of your normal driver you set it to use Zadig, then 'normal' applications can't use it since it doesn't appear as a printer. You'll have to install the original driver back for that.

To my knowledge, Windows is the only OS with this limitation. Linux, Macos, etc should be fine.

[2022-04-04 00:33] mildsunrise commented on #500
This is the exact issue reported in #494. You are using v2.2, right? It's a libusb bug, see that issue for context and pending actions, in the meantime you can downgrade to v2.1.x.

[2022-04-04 00:36] mildsunrise commented on #500
@thegecko maybe we should create an issue template asking people to report Node.js/Electron version, usb version, and OS? People don't tend to think about it and it would be useful info.

[2022-04-04 11:39] thegecko commented on #502
Yeah, this is a libusb on Windows usage issue really. If your device doesn't have a winusb driver you need to use zadig or the usbdk backend and both approaches claim exclusive access AFAICT

[2022-04-04 11:40] thegecko commented on #500
Agreed, PRs always welcome ;)

[2022-04-04 12:06] sergeu90 commented on #500
If we downgrade to 2.1.* then we have error invalid argument

[2022-04-04 12:13] #502 closed

[2022-04-04 12:28] thegecko commented on #500
Opened in #504

[2022-04-04 15:42] mildsunrise commented on #500
This is also expected since the fix (#492) only landed in v2.2.x.
You'll have to wait a bit until v2.2.1 if you need both fixes.

[2022-04-04 15:56] mildsunrise commented on #502
Ah okay, that was the part I was missing. So it depends on support from the original driver, I see.

[2022-04-05 05:44] sergeu90 commented on #500
After release libusb. Do you publish update library?

[2022-04-05 10:20] dadinugroho commented on #502
Thank you @mildsunrise @thegecko . I would just want to confirm that. In my situation, it is a bit difficult and impractical should I need to keep changing the driver.

The other issue with using zadig is that it cannot rolled back the old driver. I need to install the driver again from the beginning. Or, it is just me that does not know how to revert back the driver easily?

It is true I am using

[2022-04-05 10:42] mildsunrise commented on #500
That's the plan, yes. libusb v1.0.26 is scheduled to be released on April 10th, but we may release the current rc earlier.

[2022-04-05 10:44] mildsunrise commented on #502
I don't know much about Windows but again, if it's a Linux box then it should work :)

[2022-04-06 21:21] sergeu90 commented on #500
@mildsunrise @thegecko  When you planning update lib usb to rc version or you wait release ?

[2022-04-09 17:27] thegecko commented on #491
Looking into this and unravelling the layers, I think the simplest, cleanest and most reliable approach is to use the [node-addon-api addon structure](https://github.com/nodejs/node-addon-api/blob/main/doc/addon.md).

This uses `napi_set_instance_data`/`napi_get_instance_data` under the hood which would need an increase in the NAPI version from 4 to 6 (Node.js >= v10.20.0 or >= v12.17.0).

I assum

[2022-04-09 18:46] mildsunrise commented on #491
The cleanest way as you say is `Napi::Addon`.
If you don't want to refactor all the code into a single class, `env.GetInstanceData()` with a struct works just as well (it's just a bit more verbose to access instance data). [Example (the constructor isn't necessary).](https://github.com/mildsunrise/node_netlink/commit/e2410a9be9bceaaf33231dc0386fe70985dcb7de)
It's also easier to polyfill if we want

[2022-04-10 18:00] sergeu90 commented on #500
https://github.com/libusb/libusb/releases/tag/v1.0.26
@mildsunrise @thegecko I see lib usb released

[2022-04-10 21:16] mildsunrise commented on #500
I didn't create any PR because I saw @thegecko create the `libusb-1.0.26` branch with the rc, earlier.
There have only been 2 noteworthy changes since the RC: fix for isochronous transfers on Windows (https://github.com/libusb/libusb/commit/bfa8b8535a929e939d549d9c3778592abfafe870, https://github.com/libusb/libusb/commit/bfbef179b12110d8d8fc6ff9e4af5f96a37a78ab), fix for crash on MacOS when using

[2022-04-11 10:30] thegecko commented on #500
v2.3.0 has been released, please check this fixes your issue.

[2022-04-11 10:30] thegecko commented on #494
v2.3.0 has been released, please check this fixes your issue.

[2022-04-11 10:39] thegecko commented on #498
Mutex is removed in v2.3.1, please confirm this resolves your issue.

[2022-04-11 17:15] #498 closed

[2022-04-11 18:40] sergeu90 commented on #500
@thegecko Works as excepted. Good work thanks

[2022-04-11 18:40] #500 closed

[2022-04-24 21:38] thegecko commented on #491
I've had a crack at fixing this over at #512

@mildsunrise, it builds and passes all the unit tests, but I'd really appreciate a review if you have some time?

Also, I can't see where a cleanup hook would be useful, from what I've read it seems the state is entirely handled by `node-addon-api`.

Finally, any ideas on how to create tests for this and prove it's context safe would be welcomed.

[2022-04-25 09:02] YiyuanYin commented on #495
I came cross with the same problem,
![image](https://user-images.githubusercontent.com/9218146/165056698-2c594fc1-0466-4c52-8b12-59bab9879a23.png)

[2022-04-25 10:05] thegecko commented on #495
Is this still occurring since v2.3.0?

[2022-04-25 17:36] mildsunrise commented on #491
That's some nice work, thanks! I'll review when I find some time.

Yes, tests are important for this. It shouldn't be hard to create scripts that crash the current (non-context aware) version, simply spin up a [worker thread](https://nodejs.org/docs/latest/api/worker_threads.html) and use the library from both the main instance and the worker. Subscribing to hotplug, calling getDeviceList, and ope

[2022-04-25 18:38] mildsunrise commented on #491
Regarding:

I've left a comment in the review detailing the two basic cleanup actions we should take when the module is unloaded.
These cleanup actions can be done inside of a [registered cleanup hook](https://github.com/nodejs/node-addon-api/blob/main/doc/env.md#addcleanuphook), or *maybe* it's also allowed to do them when the instance data is destructed... I have to check, though.

[2022-04-25 18:39] mildsunrise commented on #491
I'd like to do more stuff (such as the tests) but I'll be beginning a new job (at Dolby) very soon, so I don't think I'll have much time :(

[2022-04-26 12:35] thegecko commented on #491
Nice!

[2022-05-01 17:59] mildsunrise commented on #378
It looks like this module is finally going to support use in worker threads, see #512. If you want, you can test that branch with your use case now.

[2022-05-07 10:47] thegecko commented on #491
Released in v2.4.0

[2022-05-07 10:47] #491 closed

[2022-05-07 10:47] thegecko commented on #458
Please check this issue still arises with the latest release; v2.4.0

[2022-05-07 10:48] thegecko commented on #378
Please check this issue still arises with the latest release; v2.4.0

[2022-05-20 16:27] unseen1980 opened #515 "Convert buffer to string/num?"
Hello, thanks for the library!

I have a decibel meter and I am trying to read the values from the USB port. I found online how to do it but in Python. Because I am not familiar with Python I would prefer to use javascript or typescript.

Please have a look at the screenshot below
![Screenshot 2022-05-20 at 17 21 53](https://user-images.githubusercontent.com/2386570/169570832-99ecf563-9e4f-4eb3-ba

[2022-05-20 19:23] kevinmehall commented on #515
You can access the bytes of a `Buffer` as if it were an array, (`data[0]`) just like in Python. How those bytes encode a particular status or measurement depends on the device. It looks like line 23 of your Python code to take the first byte and 2 bits of the second byte and apply a scale factor and offset would be basically the same syntax in JS.

[2022-05-20 19:23] #515 closed

[2022-05-20 21:03] unseen1980 commented on #515
Thanks a million, @kevinmehall, I wasn't aware of this. I can read the values now 👍

[2022-05-23 12:18] adriencarbonaro opened #516 "USB detection loop"
## Bug Description:

When subscribing to `attach` event, the callback triggers in a loop.

## Steps to Reproduce:
1. Launch the following script with `ts-node` or after compiling it :
[code]
3. Check the logs. It displays a lot of attached devices, never stopping.

## Additional Information
- Operating System: Windows 10
- Runtime: `node@14.16.1`
- Node USB Version: `usb@2.4.1`

## EDIT

It works

[2022-05-23 18:52] thegecko commented on #516
Looks like this was introduced with https://github.com/node-usb/node-usb/pull/496

The devices returned from `getDeviceList()` aren't the same objects each time so `Set.has()` will always be false.

cc @mildsunrise

[2022-05-24 07:56] mildsunrise commented on #516
libusb seems to be returning multiple `libusb_device*` referring to the same USB device.
I've reported this upstream.
Maybe I was mistaken, and the "1 USB device = 1 `libusb_device*`" thing isn't a hard guarantee, let's wait for libusb to confirm if this is indeed their bug, or if we should perform additional checks.

[2022-05-24 15:16] CahierX opened #518 "electron build windows exe, open exe error"
## Bug Description:
electron build windows exe , open exe error
native Node module causes error: Uncaught Error: No native build was found for platform=win32 arch=x64 runtime=electron abi=99 uv=1 libc=glibc node=16.9.1 electron=16.0.4 webpack=true

## Additional Information
Windows 10
Node 16.9.1
electron 16.0.4
![image](https://user-images.githubusercontent.com/31394482/170071321-187cfd6c-13f5-4e

[2022-05-24 17:01] mildsunrise commented on #516
ah, true. @adriencarbonaro said it works correctly (modulo the 2 attach events) on 2.3.1, so in principle it can't be #496.
could it be because of the context-aware changes?
I'll try to find a windows machine to hopefully reproduce this on, but I'm not sure when that will be

[2022-05-24 20:02] thegecko commented on #516
I can confirm it works as expected in `v2.3.1`, so I think it is due to the context-aware rewrite.

You can recreate the issue on any OS by setting `hotplugSupported` to false:

https://github.com/node-usb/node-usb/blob/master/tsc/usb/index.ts#L46

[2022-05-24 20:09] thegecko commented on #516
Yup, reverted https://github.com/node-usb/node-usb/commit/12db6e4acd9c4a3a5c388dd0d2aa0b8139dfd6b9 and it works again.

I'll close the other PR but have no idea what's causing the issue, but it's not `libusb`.

[2022-05-25 07:46] mildsunrise commented on #516
Okay. I won't close the upstream issue though, since I'd like to be sure the hotplug polyfill is being done correctly.

[2022-05-25 19:42] #516 closed

[2022-05-27 15:13] thegecko commented on #516
Fixed in `v2.4.2`

[2022-05-27 15:14] thegecko commented on #518
Please confirm this example works on your system:

https://github.com/node-usb/node-usb-example-electron

[2022-06-02 19:31] RaresAil opened #520 "w3c-web-usb failing on start"
## Bug Description:

<details>
<summary>Logs (Click here)</summary>

[code]
</details>

## Steps to Reproduce:
1. Install usb
2. run with nodemon on macOS

## Additional Information
- Operating System: macOS Monterey 12.4
- Runtime (`node -v` or `electron -v`): Node v18.2.0
- Node USB Version (`npm ls usb`): 2.4.2

[2022-06-02 19:51] mildsunrise commented on #520
This is only a TypeScript problem due to our dependency, `@types/w3c-web-usb`, depending on some types such as `EventSource` and the like, which are from browsers (it's to be expected since WebUSB is a browser API). AFAIK you have to add `dom` to your TypeScript libraries in `tsconfig.json`.

[2022-06-03 07:16] RaresAil commented on #520
Thank you

[2022-06-03 07:16] #520 closed

[2022-06-12 19:58] apurvamaloo commented on #518
I am also getting similar error while packaging the electron app :

`Error: No native build was found for platform=win32 arch=x64 runtime=electron abi=85 uv=1 libc=glibc node=16.13.2 electron=18.3.3 webpack=true`

![node-usb error](https://user-images.githubusercontent.com/17717044/173250719-7c77ad47-408a-47c4-bc05-9feca897556e.png)

I created a sample app which is using usb at https://github.com/

[2022-06-13 19:24] thegecko commented on #518
That's quite a large sample app. I was unable to compile it with Node 12, 14 or 16

[2022-06-13 19:38] thegecko commented on #518
I've tested the latest release with the latest Electron version (v19) on Windows and mac and cannot reproduce this issue.

Please recreate this problem based on the example app:
https://github.com/node-usb/node-usb-example-electron

Things which can cause this problem:

- Forcing a rebuild of the usb package (e.g. `electron-rebuild usb`), it isn't required as it uses N-API
- Loading the USB librar

[2022-06-15 16:44] noah-moutfitters opened #521 "Poll Transfer - Start/Stop Poll"
## Bug Description:

Currently not able to make more than one poll transfer without closing the device.

Starting poll transfer has conditional:

[code]

when no more polls are pending, it resets the state like so:

[code]

The conditional needs to handle the case of an empty array, since any object in javascript is truthy. Another option is resetting the poll transfers to be undefined.

I can cre

[2022-06-15 21:02] thegecko commented on #521
A PR would be great!

[2022-06-16 12:41] thegecko commented on #521
Does #522 fix you?

[2022-06-16 12:56] noah-moutfitters commented on #521
@thegecko yes, thanks!

[2022-06-16 13:03] noah-moutfitters commented on #521
@thegecko Do you also want the `pollActive` flag set to false when `pollsPending` equals 0? Seems like that may be desired behavior, it I’m unsure.

[2022-06-16 14:07] thegecko commented on #521
Not sure, code was like this before I arrived ;)

[2022-06-16 19:33] thegecko commented on #521
I added your suggestion, would you mind checking again?

[2022-06-20 15:09] noah-moutfitters commented on #521
@thegecko Yes, thank you!

[2022-06-20 15:09] #521 closed

[2022-07-01 22:35] strazzere commented on #518
Making it an `externals` then loading it in the `index.html` prior to the renderer loading will let this work.

[2022-07-04 17:50] LRYMND opened #523 "Prebuild on ARM failing."
When trying to build an electron app on a Raspberry Pi running the latest RaspberryPi OS, I keep running into the same error.

[code]

Tried building on a Raspberry 3 and 4 with clean installations of the latest OS.

Node v16.15.1
NPM v8.11.0.
Electron v13.6.9

Libudev is installed.

[2022-07-07 16:15] LRYMND commented on #523
It was a compatibility issue with Bullseye. Downgraded the OS to buster and now its working.

[2022-07-07 16:15] #523 closed

[2022-07-08 20:13] thegecko commented on #523
Thanks for the details. Moving forwards we probably want to be able to support bullseye, so anything we need to be aware of?

[2022-07-17 10:49] LRYMND commented on #523
In the end I think that the build actually succeeded since it created an AppImage in the build directory. However the AppImage wouldn't execute. I could imagine that there was an issue with permissions regarding node-usb/libusb although I updated the udev rules for the specific device. Didn't investigate further though and just downgraded the OS.

[2022-07-18 19:07] Julusian commented on #488
I've made a start on this, but am having a hard time translating the windows events into libusb devices.
I am half way through exploring a way to translate, but I am wondering if it is enough for it to report that 'something changed' and use that to trigger a poll.
I don't see a way of getting a `libusb_device` without using `libusb_get_device_list`, so the difference is really whether a diff need

[2022-07-18 19:19] thegecko commented on #488
That would be a lot better than the current polling mechanism and I suspect a changed event may well be enough. Do you want to open a PR for discussion and we can grow from there perhaps?

[2022-07-20 10:02] kuangping-kp opened #526 "Cannot read properties of undefined (reading 'transfer'）"
这个错误的原因是啥

[2022-07-20 11:21] thegecko commented on #526
Would you mind outlining your issue in English, please?

[2022-07-21 01:24] kuangping-kp commented on #526
var inpoint = interface1.endpoints[0] ；Can read the value
  var outpoint = interface1.endpoints[1];   The result of outpoint is undefine

[2022-07-21 08:12] kuangping-kp commented on #476
问题解决了？

[2022-07-21 09:34] thegecko commented on #526
Technically yes, but you would have to write a driver for it. For keyboard access, I's recommend using a HID library such as https://github.com/node-hid/node-hid

[2022-07-21 20:00] thegecko commented on #476
It doesn't look like you are waiting for the control transfers to finish before running another one. Use the callback to chain your calls or promisify the transfers and await them.

If you are accessing a HID device, recommend you try https://github.com/node-hid/node-hid

[2022-07-22 01:35] kuangping-kp opened #527 "node-usb, inpoint.transfer. Can transfer write data to the keyboard through USB"
var usb = require('usb');

      const GET_STATUS_INFO = 0x02;
      const data = [0x55, 0xff, 0x00, 0x00]
      var device = usb.findByIds(0x5566, 0x0008);
      console.log(device)
      var serialNumber = "2021-09-09"
      var s = usb.findBySerialNumber(serialNumber)
      console.log(s)
      if (device) {

        console.log('found  device');
        device.open();

        var interfaces =

[2022-07-22 01:39] kuangping-kp commented on #526
https://github.com/node-hid/node-hid#devices-node-hid-cannot-read

It shows that the keyboard can't read or write.

[2022-07-22 01:41] kuangping-kp commented on #526
How to write a driver

[2022-07-30 17:28] #488 closed

[2022-08-01 13:52] Hexxeh commented on #254
WebUSB version doesn't have timeouts, how can this be worked around there? I've tried resetting the device but that disconnects other processes using other ports on the same device which is undesirable.

[2022-08-01 14:02] mildsunrise commented on #254
now that you mention it, WebUSB mandates that a .close() aborts all pending transfers? if we aren't doing that, maybe we should -- especially given that WebUSB gives no way of aborting transfers whatsoever

[2022-08-12 02:06] Newbrict opened #529 "Initial detaching of a device doesn't trigger detach event."
## Bug Description:

Starting the app with the device plugged in, then physically unplugging it doesn't trigger `usb.on('detach', (device) => {`. If I unplug, then plug, then unplug the device again, then my detach event finally fires. Also, if I start the app with the device unplugged, it works on the first detach.

It seems like a detach event can't happen before an attach event, or something. I

[2022-08-12 09:16] gre opened #530 "Can the build NOT use yarn?"
### Feature Description:

At the moment, you are documenting the library prerequisite to be `[Node.js >= v10.20.0](https://nodejs.org/), which includes npm.`

Unfortunately it appears that you also require the user-land to also have `yarn` installed. Which isn't the case for us (at Ledger) as we moved to `pnpm` now.

During the prebuild phase, we're blocked by

[code]

Would it be possible to make

[2022-08-12 11:42] mildsunrise commented on #529
does it happen in the version just before (v2.4.3)? we've just touched hotplug detection on windows (#524)

[2022-08-12 11:48] thegecko commented on #530
Yarn is used to build this project,  but the native binaries are then shipped with the release.  You shouldn't need to rebuild node-usb.

[2022-08-12 11:57] gre commented on #530
but it what seems to happen when we depends on this library 🤔  (possibly when prebuild aren't available for us, typically we likely install & rebuild for electron)

[2022-08-12 16:03] Newbrict commented on #529
I will figure out how to downgrade the package, test that, and report back. Eta 30 minutes.

[2022-08-12 16:13] Newbrict commented on #529
So the behavior on `v2.4.0` seems completely broken. It continuously fires attach and detach events every second or so, even though I'm not touching any USB devices. v2.5.0 did at least only respond to devices being plugged or unplugged, albeit not completely accurately.

[2022-08-12 16:55] Newbrict commented on #529
I verified this with another device, same behavior. I am not familiar with this code to dig into the issue, but it seems like it could be caused by not having an accurate initial representation of what's plugged in and what's not.

[2022-08-12 17:27] Newbrict commented on #529
Ah, I tested with the version you specified `v2.4.3` and it worked properly there. I will be using that version until this issue is figured out -- thanks.

[2022-08-13 10:28] thegecko commented on #530
@gre Please confirm if this fixed you.

[2022-08-13 10:39] thegecko commented on #529
OK, so this is only an issue on Windows and I think it's due to the list of initial devices not being set before the attach/detach listeners being attached.

I can see the problem, but am on holiday and don't have Windows access to test it. I can push a blind fix to a branch for others to try, though if we want to crowdsource a quick fix :)

[2022-08-13 10:44] mildsunrise commented on #530
not sure what's going on here (not very familiar with electron), but users shouldn't need yarn even if no prebuild is available. at least I didn't need it. if this has changed we should fix it

[2022-08-13 10:53] thegecko commented on #530
It's due to the dependent scripts, e.g.:

https://github.com/node-usb/node-usb/blob/master/package.json#L39

[2022-08-13 10:56] mildsunrise commented on #530
hmm but the prepare script should only run when you do `npm install` directly on node-usb source. it should never run if `npm install` finds `usb` as a dependency (unless you specify a git repo). not sure why Electron would need to run `prepare` :thinking:

[2022-08-13 10:58] thegecko commented on #530
I believe electron-rebuild runs these scripts, which used to be required prior to NAPI support. TBF, I can probably refactor those scripts anyway and remove the yarn bits.

[2022-08-13 11:26] thegecko commented on #530
It looks like `prepare` may be called when packages consuming this module are packaged?

https://docs.npmjs.com/cli/v8/using-npm/scripts#life-cycle-scripts

[2022-08-15 15:03] gcampbell-msft opened #532 "Node-usb fails to build in node runtime when `DOM` lib isn't included"
## Bug Description:
When attempting to use this package in a typescript package that is to be used in a node runtime, as well as defining that the only `lib` in the `tsconfig.json` should be `es2019`, the project fails to build.

This is because the typescript compiler seems to include the `DOM` library by default, but when it is specified that it shouldn't be included because this is a node proje

[2022-08-15 15:07] gcampbell-msft opened #533 "Rapid disconnect/reconnect of device isn't recognized."
## Bug Description:
Rapid disconnection and reconnection doesn't seem to be properly recognized.

This is related to this bug posted here: https://github.com/microsoft/vscode-serial-monitor/issues/26, where someone posted this issue on the serial monitor.

## Steps to Reproduce:
1. Plug in a device
2. Unplug the device and **quickly** plug the device back in.

Expected: The package correctly picks

[2022-08-15 16:42] mildsunrise commented on #533
does this happen in the version just before (v2.4.3)? we've just touched hotplug detection on windows (https://github.com/node-usb/node-usb/pull/524)

[2022-08-15 16:47] gcampbell-msft commented on #533
I just realized I put the wrong version for this bug, this is happening on version `v2.4.3`.

[2022-08-15 16:48] mildsunrise commented on #532
dupe of / see https://github.com/node-usb/node-usb/issues/520#issuecomment-1145280361

this is expected since we implement WebUSB (a browser API) and the types depend on some things (such as EventTarget) that have only recently been made available in Node.js

[2022-08-15 16:59] mildsunrise commented on #533
for context: hotplug detection has never really worked correctly in Windows until 2.5.0. before that, we regularly polled the current devices and relied on libusb to tell us whether two devices are the same or not.

if libusb is still recognizing a device as "the same" after a reconnection, then I'm afraid there's little we can do and this is an issue that libusb should fix.

we could do additiona

[2022-08-15 17:14] mildsunrise commented on #533
it would be nice to make sure that this is indeed a Windows-only issue, and/or if it happens with a specific device or any device.

I did a quick test on my Linux (hardcoding `hotplugSupported = false` in 2.4.3 and using a very long poll interval) and everything works as expected: Linux assigns a different deviceAddress, and libusb returns a new device

[2022-08-15 17:43] gcampbell-msft commented on #533
Does this mean that as far as you know, updating to 2.5.0 should solve the issue (at least as much as it can be solved?)

[2022-08-15 18:01] thegecko commented on #533
I would expect an update to resolve this issue as I suspect the older polling mechanism on Windows is the culprit.  Easy to test...

[2022-08-15 18:28] gcampbell-msft commented on #533
Can confirm, that it's easy to test, I've been playing with it, and it seems to work. I'll go with this and return to this thread if any issues arise! Thanks!

[2022-08-15 19:54] mildsunrise commented on #533
this issue has implications beyond hotplug detection... if libusb is returning the same device for a new device (that isn't in the same state) this could lead to bugs in apps that do not use hotplug detection too :thinking: but if it rarely happens I guess we can just ignore it...

[2022-08-15 22:25] Newbrict commented on #529
Sorry for the delay, I've been working on something else, but I will get back to this ASAP.

[2022-08-16 08:21] mildsunrise commented on #530
I would be surprised if it did, since dependencies aren't included when packaging. are you referring to a particular point in the document you linked?

[2022-08-16 08:26] thegecko commented on #530
Yeah,  there's a note in the prepare section

[2022-08-16 08:38] mildsunrise commented on #530
"the prepare script will be run" means only of the package being installed through git, not the dependencies themselves AFAIK. this only applies if somone specifies `"usb": "<git URL>"` in their package.json

[2022-08-16 08:54] thegecko commented on #530
Ok

[2022-08-28 06:14] shibin-tiny-dust opened #534 "It is recommended to exclude the source code and map files when publishing the NPM package, and only publish the final product"
### Feature Description:

[2022-08-29 08:03] mildsunrise commented on #534
I agree that TypeScript source code should be excluded from the published package, but AFAIK best practice is to leave the compiled JS, d.ts, map files, and the C++ source code, right?

[2022-08-29 15:35] shibin-tiny-dust commented on #534
I agree with AFAIK. When using typescript, I will focus on its declaration file. D. TS instead of C or C + + source code. The source map file I mentioned is a source map, such as binding.js.map. When I use this library to package production products, I must delete binding.js.map. And C, C + + code` binding. js。 Map ` can only be used when debugging in the development environment, because programme

[2022-08-29 16:31] #529 closed

[2022-08-29 16:41] thegecko commented on #533
I think the initial issue is resolved with an update to `node-usb` so closing this for now.

[2022-08-29 16:41] #533 closed

[2022-08-29 16:41] thegecko commented on #532
We switched to using the WebUSB by default, so this is expected.

[2022-08-29 16:41] #532 closed

[2022-08-29 16:56] thegecko commented on #534
Current package status is as follows:

## Included

- Native prebuilt binaries
- .vscode config files
- Compiled JavaScript code, typings and map files
- C++ source
- libusb source
- JavaScript source
- test scripts
- config files

## Not included

- API docs (available on the website)

## Proposal

Seeing as the source code is available online, I propose we remove the following

- Typescript and

[2022-08-29 16:57] thegecko commented on #534
Ooh, just realised that removing the source will mean unsupported targets won't be able to node-gyp build the native binaries from source. This may not be an issue if there are only a few of these due to the extensive prebuilds we ship?

[2022-08-29 16:58] #530 closed

[2022-08-29 17:10] gcampbell-msft commented on #532
@thegecko Does this mean that even in node contexts, the node-usb package will require including the DOM libraries?

[2022-08-29 17:13] thegecko commented on #532
Yes, the WebUSB API uses DOM events

[2022-08-29 17:32] thegecko commented on #529
Fixed in v2.5.1

[2022-08-29 17:32] thegecko commented on #530
Fixed in v2.5.1

[2022-08-29 17:43] gcampbell-msft commented on #532
@thegecko I believe you're correct that it's only the types.

I think a typescript example could be useful.

I think that creating a node project and wanting to only include the libraries necessary (and not the `DOM` libraries) is likely a common scenario. I do wonder if the packages should be broken up such that a user wouldn't have to pull in the `DOM` libraries even though it's a node project.

[2022-08-29 17:50] thegecko commented on #532
The project decided to [switch to the WebUSB API](https://github.com/node-usb/node-usb/issues/401) but as this is a web API which uses web events, I can't see how we can avoid using the DOM types unless we explicitly copy out the types we want to use. This approach would then require us to maintain that copy of the types.

The older API which doesn't use WebUSB is being maintained as a legacy appr

[2022-08-29 21:08] mildsunrise commented on #532
yes, it's only the types. no effect on compiled JS

[2022-08-29 21:29] mildsunrise commented on #534
about excluding C/C++ source: we absolutely should not break systems that can't benefit from our prebuilds. even with N-API, there are plenty of reasons this can happen (different libc, such as in embedded systems, older glibc, unsupported arch, etc.). prebuilds are supposed to be an optimization, never an alternative to building from source. (or at least, I don't know of any major package that ex

[2022-08-30 22:32] Julusian commented on #534
I stumbled upon https://github.com/realm/realm-js/issues/4060 a while ago when looking into some native building stuff.
From a quick skim I can't find any real issues caused by the lack of c++ sources over there.

I agree that it would feels bad to break support for weird systems, but is it enough to support the officially supported node platforms?
If someone is needing to build against an older g

[2022-08-31 09:09] cleoo opened #537 "FATAL ERROR: Polling is not active"
Hello,

How to support device hot unplug ?
As soon as I use the startPoll() function, the application crashes with the error indicated in the title. The endpoint used in the code is an Interrupt IN endpoint of a Cdc Acm communication interface.

## Code
[code]

## Steps to Reproduce:
1. Plug device
2. Start program
3. Unplug device

## Output
[code]

## Additional Information
- Operating System: A

[2022-08-31 10:16] thegecko commented on #534
I wonder if splitting the package into `node-usb` and `node-usb-src` could be an approach?

Then users with prebuilds just use `node-usb` and more advanced cases could also install `node-usb-src` which is either the full-blown package or just the source used by `node-gyp-build` in `node-usb` along with an optional dependency?

[2022-08-31 10:21] thegecko commented on #537
Please use the [usb events](https://github.com/node-usb/node-usb#usbdetection) for hotplug support. e.g.:

[code]

Endpoint polling is something different.

[2022-08-31 12:35] cleoo commented on #537
Merci pour votre réponse. J'ai dû mal me faire comprendre. L'event "detach" n'a pas le temps d'être appelé, le programme a planté avant.

[2022-08-31 12:44] Julusian commented on #534
I dont think splitting like that is a good solution. I imagine it likely that some of these issues will occur in places where node-usb is a dependency of a dependency. Which will then force users to figure out how to force install `node-usb-src` instead of `node-usb` (which is completely doable via yarn resolutions), and tell it to install a compatible version.
Being a peerDependency is likely to

[2022-08-31 12:52] thegecko commented on #534
Could we use the system libusb when in the wild and just remove that source? But continue to build the prebuilds with the submodule?

[2022-08-31 19:25] thegecko commented on #537
OK, I'm not familiar with the endpoint polling mechanism, this will need investigating.

[2022-09-01 14:27] mildsunrise commented on #534
My thoughts exactly.

Don't we ship all the prebuilds in the NPM package rather than grabbing from the Internet?

[2022-09-01 14:32] thegecko commented on #534
We do

[2022-09-02 07:22] rychtaradam opened #538 "Transfer out throws error"
## Bug Description:
I've got a problem with sending a transferOut to my USB device in my Electron application.

Here is the code where the problem occurs:

[code]

this code throws for me not yet known reason this error:
`Error: transferOut error: TypeError [ERR_INVALID_ARG_TYPE]: The "size" argument must be of type number. Received an instance of Buffer`

## Additional Information
- Operating Sys

[2022-09-02 12:17] jarda51 opened #539 "Methode transferIn freezes in node using NFC Reader ACR122u."
I have been trying to write a routine in node.js which should read UID of an inserted card in NFC Reader ACR122u. I can power up the reader, I get ATR if there is a card, but when I try to use the transferIn method it freezes. See the code:

[code]

## Additional Information
- Operating System: Windows 10 , I´m using WinUSB driver providing by Zadig
- Runtime (`node -v` or `electron -v`):  v14.17.

[2022-09-03 11:13] mildsunrise commented on #539
if I remember correctly, WebUSB does some kind of busy wait for the locking? this is something I wanted to change, but I don't know its current state.

@jarda51 can you test using the legacy API instead of the WebUSB adaptor?

[2022-09-03 11:19] mildsunrise commented on #538
hmm, we have some bugs because of the design of the legacy API which mostly affect races and errors.
endpoint 0x81 is an input endpoint, right? in USB, the MSB is set for input endpoints AFAIK, so you're trying to do an output transfer to an input endpoint.
in any case we can leave this open since the error should be more intuitive / up to spec.

[2022-09-03 15:58] jarda51 commented on #539
I´ve tried the legacy API, but I´m not sure about the right methods. What is the device.controlTransferOut from WebUSB in the legacy API? Can you give me a hint? I tried something like this:

`import usbLib, { usb, WebUSBDevice } from 'usb';

const device= usbLib.findByIds( 0x072F, 0x2200);  // Find usb device by ID
await device.open();                                // open device
await device.in

[2022-09-04 09:32] jarda51 commented on #539
I converted my code to the legacy API, but it freezes in the inEndpoint.transfer method too.
here is the code:

`import usbLib, { usb, WebUSBDevice } from 'usb';

const device= usbLib.findByIds( 0x072F, 0x2200);  // Find usb device by ID
await device.open();                                // open device
await device.interfaces[0].claim();                    // claim interface

 const endpoint    =

[2022-09-04 18:49] mildsunrise commented on #539
Then I have no clue and I believe this may be an OS/backend specific issue... sorry :(

[2022-09-05 08:01] rychtaradam commented on #538
Sure, even if I use 0x02 which is my configured OUT endpoint on my device (I'm sure this is the right one), it then throws `Error: transferOut error: Error: LIBUSB_ERROR_IO`.

Here is the USBView report:
[code]

And here is the device descriptor in case it might be helpful:
[code]

[2022-09-07 19:42] gcampbell-msft opened #540 "Native code crashing"
## Bug Description:
I recently upgraded to node-usb 2.5.*, and I started noticing that the native code was crashing my program when plugging in or unplugging hardware. I was able to debug it with VS and found it hit a call stack inside of PNP (plug and play) in native code.

## Steps to Reproduce:
1. Create a program where `usb.on("attach")` and `usb.on("detach")` is used.
2. Run the program and d

[2022-09-07 20:09] thegecko commented on #540
Versions suggest this has been introduced with the Windows USB detection code in https://github.com/node-usb/node-usb/pull/524

[2022-09-08 10:22] mildsunrise commented on #540
the fact that it's when delivering a PNP event also strongly suggests this. @Julusian have you seen this previously in node-usb-detection?

[2022-09-08 10:51] #538 closed

[2022-09-08 11:09] Julusian commented on #540
No, not something I've seen there, but the code here was written differently and with a newer api.

I have a theory, with a hopeful fix #541

[2022-09-09 12:38] kody435 opened #542 "I want to read USB data using NodeJS any advice and help is appreciable"
### Feature Description:

[2022-09-09 12:38] kody435 commented on #542
I want to read USB data using NodeJS any advice and help is appreciable

[2022-09-09 16:22] thegecko commented on #534
Shall we agree to leave the distribution package as-is, then?

[2022-09-09 17:23] thegecko commented on #540
The fix from @Julusian has been released using the `alpha` tag and can be installed using:

[code]

Could you test this fixes your issue?

[2022-09-10 15:13] #539 closed

[2022-09-12 13:28] gcampbell-msft commented on #540
@thegecko Yes, I'll try and test today. Thanks!

[2022-09-12 13:46] gcampbell-msft commented on #540
I just tested and it did not fix the issue.

Below are two more images of the callstack and the exception.
![image](https://user-images.githubusercontent.com/86264750/189670271-aea7e58c-c393-4422-ae47-0500d42b6ba6.png)
![image](https://user-images.githubusercontent.com/86264750/189670326-13d16c5f-8d63-4bca-b53b-960bc280e440.png)

[2022-09-21 04:23] amochkin opened #545 "Legacy device not turned into WebUSB compatible device"
## Bug Description: Legacy device not turned into WebUSB compatible device

## Steps to Reproduce:
1. Legacy device is found:
[code]
2. Turning it into WebUSB device:
[code]
3. `undefined` is returned

## Additional Information
- Operating System: Ubuntu 22
- Runtime (`node -v` or `electron -v`): node v14.19.3
- Node USB Version (`npm ls usb`): usb@2.5.1

[2022-09-21 07:46] mildsunrise commented on #545
could you post a small script we could run to reproduce the problem?

[2022-09-21 08:38] thegecko commented on #545
Failure to create a WebUSB device often happens when there are errors getting string data from the device.

We have a `try...catch` which is masking any error in this area we should probably remove:

https://github.com/node-usb/node-usb/blob/master/tsc/webusb/webusb-device.ts#L15

[2022-09-21 13:15] PatrickHallek commented on #537
I am facing the same issue.
- Operating System: Archlinux (aarch64)
- Runtime v16.13.2
- Node USB Version 2.5.0

[code]

[2022-09-21 15:10] amochkin commented on #545
I think it is pretty much device specific. I am testing on a real device which is Alienware FX controlller, I am not sure my script will reproduce the problem without the device.

[2022-09-21 23:25] amochkin commented on #545
@thegecko

Thanks for the hint. I will extract this function and try it directly trying to catch the error.

[2022-09-22 03:30] amochkin commented on #545
@thegecko
Ok, I figured it out.
1. The error was `LIBUSB_ERROR_ACCESS`.
2. I just completely forgot to add specific udev rule, duh.
3. Rule added, restarted, and voila - it works!

[2022-09-22 03:30] #545 closed

[2022-09-22 07:50] thegecko commented on #545
Awesome!

We shouldn't mask that error, I'll create a PR to remove the try...catch

[2022-09-22 07:56] hrueger opened #546 "Migrating from `usb-detection`: How to get Serial Number"
Hi,
I'm trying to migrate from `usb-detection`. I have lot of devices with the same VID and PID and I need to differenciate them by their serial number. Using `usb-detection` I could get the serialNumber directly in the callback:
[code]

If I read the docs correctly, I need to open the USB Device in order to read its serial number, right? This feeld wrong, because there might be another process tr

[2022-09-22 08:17] thegecko commented on #546
Yes, the serial number string is not available in the usb descriptors, so you need to read it.

Other things which may help:

- turn it into a WebUSB device first which will populate this (may be too heavy)
- use (or look at) the [findBySerialNumber function](https://github.com/node-usb/node-usb/blob/master/tsc/index.ts#L24)

[2022-09-22 08:20] hrueger commented on #546
Wow, thanks for that quick answer 🎉

does this internally open the device?

I wonder if `usb-detection` also opened the device... Maybe @Julusian knows that? (sorry for pinging you ;-) )

thanks, I see that it also opens the device. I'll try that.

[2022-09-22 08:39] hrueger commented on #546
I just did a quick test using the code of the [`findBySerialNumber` function](https://github.com/node-usb/node-usb/blob/master/tsc/index.ts?rgh-link-date=2022-09-22T08%3A20%3A30Z#L24).
However, I get
[code]

If I read #182 correctly, that means that there's a wrong driver. Unfortunately, I can't require users to use Zadig to change the driver, just that I can read the serial number...
I only need

[2022-09-22 08:58] thegecko commented on #546
Yes

It will (or Windows will when you plug it in)

This library uses libusb to be compatible across operating systems. Windows requires a driver for usb devices and can load winusb drivers for common devices (including HID devices AFAIK).

On windows you can also try:

https://github.com/node-usb/node-usb#usbuseusbdkbackend

[2022-09-22 09:02] Julusian commented on #546
It looks like `usb-detection` is using os native methods to fetch the serialnumber for each device.

Parsing the unique device id on windows: https://github.com/MadLittleMods/node-usb-detection/blob/master/src/detection_win.cpp#L442-L467
Linux exposes it as part of a set of properties https://github.com/MadLittleMods/node-usb-detection/blob/master/src/detection_linux.cpp#L153-L155
Mac has an api t

[2022-09-22 09:24] Julusian commented on #546
Looking upstream, it sounds like there is no technical reason it isnt possible, and there has been some interest in supporting it, but nobody has provided a complete implementation yet.

https://github.com/libusb/libusb/issues/866
https://github.com/libusb/libusb/pull/875

[2022-09-22 11:04] hrueger commented on #546
Thanks for your hints. I'm gonna stay with @Julusian's patch of the usb-detection lib for now.
Maybe we can leave this open until some implements it upstream?

[2022-09-22 16:10] amochkin commented on #545
Great, that will help the community.
Also I found a workaround:
before doing `await WebUSBDevice.createInstance(legacyDevice);`
one could try doing `legacyDevice.open();`
This will throw if something goes wrong.

[2022-09-22 17:09] chsing opened #547 "Windows 7 support?"
Not so much a bug report as a question for clarification: does this package support Windows 7? I saw in [this PR](https://github.com/node-usb/node-usb/pull/524) comments about Windows 7 not being supported, but can't find any documentation anywhere that confirms this, so just wanted to get a confirmation.

Asking because I'm getting this error when trying to run my Electron app on Windows 7:
![ima

[2022-09-22 17:42] thegecko commented on #547
Hmm,

There's a prebuilt binary for win32 created here:

https://github.com/node-usb/node-usb/blob/master/.github/workflows/prebuild.yml#L23

It uses the oldest windows runner available, but I don't have access to any Windows 7 machines to test. It should work in theory, but your issue suggests it doesn't.

Feel free to determine the issue otherwise I'm not sure we will get any traction from other

[2022-09-22 19:06] cleoo commented on #537
hello,
To avoid the problem I simply replaced the use of usb polling by an implementation based on a Stream:Readable continuously invoking the transfer method of the corresponding endpoint.

[code]

[2022-09-22 19:19] chsing commented on #547
Okay, thanks for the info!

[2022-09-22 19:19] #547 closed

[2022-09-22 21:04] mildsunrise commented on #546
hi, just wanted to say

there's nothing wrong with multiple processes accessing a device at the same time. as long as you don't do stuff such as resetting the device, changing to another configuration, or claiming an interface, you shouldn't interfere with other processes.

your use case in particular (opening a set of usb devices to get their serial number) is something I've definitely seen done

[2022-09-22 21:49] strazzere opened #548 "When using `startPoll` with multiple transfers, and error event can cascade mutliple times"
## Bug Description:

When you have a polling event with multiple transfers, during an error (unplug event) the application flow will be guaranteed to throw `n` times but is not seemingly "catchable" from anywhere.

## Steps to Reproduce:
1. Connect a usb device, perform a `startPoll` with multiple transfers; `epIn.startPoll(6)`
2. Unplug the device, this will cause a `LIBUSB_TRANSFER_ERROR` which

[2022-09-23 05:14] hrueger commented on #546
Interesting. I thought that (at least on Windows) USB devices would be opened in exclusive mode (or was that only with hid devices? I can't remember.)
Even if that did not cause trouble, I'm still stuck with the LIBUSB_NOT_SUPPORTED error.

[2022-09-24 10:54] #534 closed

[2022-09-25 21:00] Julusian commented on #540
@gcampbell-msft any chance of a reproduction script?
I don't think this is going to be an easy one to figure out, as that stack trace is completely inside windows code, and there isnt really much setup/teardown of the events for things to be done wrong..

I am not able to reproduce any crashing with a minimal script:
[code]

[2022-09-26 12:57] PatrickHallek commented on #537
@cleoo

This solution does not fix it for me. I am getting another error with the same stack trace:
[code]

[2022-10-05 08:44] yooouuri commented on #540
https://gist.github.com/yooouuri/5140bd9c806a98952aed455aa383f130
A crash report.

Im getting a

In my error handling service (Sentry)

![image](https://user-images.githubusercontent.com/12934957/194019233-2eda6f5b-685a-498c-8f2a-9099062c8c90.png)

![image](https://user-images.githubusercontent.com/12934957/194019321-627c19c6-715d-4d44-84f2-387eabd75ae2.png)

[2022-10-05 17:08] alejandroclaro opened #551 "Endpoint timeout not working"
## Bug Description:

The timeout value in endpoint is not working properly since at least version 2.1.3.

## Steps to Reproduce:

With the following code,

[code]
no matter what value is assigned to `endpoint.timeout` the transfer function does not honor the timeout. A time occurs, but it's always more than 10 seconds. In version <= 2.1.3 the behavior is the expected.

## Additional Information
-

[2022-10-06 11:52] Hexxeh opened #552 "Detach event does not fire if device was connected when module was required"
## Bug Description:

The first detach event doesn't fire if the device was already connected when the process started. This doesn't reproduce if I unplug the device before starting the process and then plug it in afterwards.

## Steps to Reproduce:
1. Plug in a USB device
2. Start a Node process that adds detach/attach listeners
3. Unplug the device, detach event should fire but does not

## Addit

[2022-10-07 10:18] thegecko commented on #552
I've been unable to reproduce this with the latest release, both with devices attached before and after running node on macOS.

I used this, do you have a similar reproducer?

[code]

[2022-10-07 10:48] Hexxeh commented on #552
Ah, sorry, I forgot to mention I'm using the WebUSB interface not the legacy one:

[code]

I tried the snippet you provided and that works as I'd expect, so this seems to be a WebUSB interface issue specifically.

[2022-10-07 10:55] Hexxeh commented on #552
Though even with the `usb.on` event, it seems not to fire if the device is open and actively being used (open/selectConfiguration/claimInterface) when disconnected. My use case is that I'm trying to cleanup references to the device and mark it disconnected when the user unplugs it.

[2022-10-07 11:01] thegecko commented on #552
Due to the webusb device requiring more data to be held than is available once the device is disconnected, the backing "store" of devices for it will need to be initiliased as your app starts.

I don't want to do this automatically as this would bring in unnecessary device listing of all potential devices.

Even doing it as the webusb clas is constructed would introduce an async constructor :(

Tr

[2022-10-11 17:06] jeremywho opened #553 "Is there a recommended way to continuously read with WebUSB?"
The legacy `StartPoll()`/`on("read", ...)` is very convenient, is there an established pattern for doing this with WebUSB?

[2022-10-11 19:12] thegecko commented on #553
This could be a question to ask in the webusb spec:

https://github.com/WICG/webusb/issues/

Once a method for this (or intent) is understood, we can make sure this library supports it.

[2022-10-11 21:32] mildsunrise commented on #553
polling an endpoint is just a matter of keeping N concurrent transfers alive at all times. the semantics of polling can vary so I wouldn't count on WebUSB adding a convenience method for that, instead this could be in a JS library

[2022-10-12 05:03] #553 closed

[2022-10-23 13:42] jwillikers opened #554 "Does not see updated product id from within a Flatpak"
## Bug Description:

I'm working on a Flatpak of a keyboard utility, [Chrysalis](https://github.com/keyboardio/Chrysalis), which uses `node-usb`.
As part of the firmware upgrade process, the keyboard is flipped into bootloader mode by the application.
Once this occurs, the keyboard reconnects with an updated product id.
At this point, the application continues to query the USB devices with `getDev

[2022-10-25 16:33] tombertrand opened #555 "Error: The specified procedure could not be found. (Windows7)"
<img width="840" alt="image" src="https://user-images.githubusercontent.com/19352322/197831589-3306ace6-0542-4b86-944c-af11af9c0366.png">

## Bug Description:

We were reported this error on Windows7 after updating to `Electron 19.1.2` and `Node USB 2.5.0`.

Unfortunately I don't have any specifics other than these. Opening this ticket in case others search for it or a maintainer has an idea of wh

[2022-10-31 14:02] thegecko commented on #548
Thanks for this bug report and apologies in the delay getting back to you.

I don't think this is intended behaviour and may have been introduced with https://github.com/node-usb/node-usb/pull/522

Your proposed solution looks sensible, would you mind trying that and opening a PR if it fixes the issue?

[2022-10-31 14:13] thegecko commented on #537
It looks like this could be caused by the polling not stopping properly when a device is detached.

This looks similar to https://github.com/node-usb/node-usb/issues/548 and may be resolved with the proposed fix there.

[2022-10-31 14:20] thegecko commented on #554
I'm not aware we cache the list of devices anywhere and always request this directly from libusb:

https://github.com/node-usb/node-usb/blob/master/src/node_usb.cc#L104

This may be an issue in libusb?

[2022-10-31 14:25] thegecko commented on #555
Erk, we don't really support Windows 7 (not sure about libusb either), primarily because I don't have access to that OS for testing.

Would be useful to know if it was the electron upgrade or node-usb upgrade which caused the issue.

It should be easy to create a test app to try node-usb on the client's machine to help pinpoint the program (and version) with the issue.

[2022-10-31 15:03] thegecko commented on #551
I've been unable to recreate your issue and see the timeout working as expected. Sample code I wrote to align with your example:

[code]

This is using the test device I use and there's even a timeout test we check for:

https://github.com/node-usb/node-usb/blob/master/test/usb.coffee#L151

[2022-10-31 17:02] strazzere commented on #548
PR Submitted, it is currently waiting approval before the ci/cd will pick it up.

[2022-10-31 17:12] strazzere commented on #537
I've never seen the STALL, however #548 should fix the cascading `Polling is not active.` when many threads are used and an unplug event occurs.

[2022-10-31 21:56] thegecko commented on #546
I would be happy to expose/utilise functionality to get the usb serial number on windows if someone were to port it from `usb-detection`.

e.g., the `findBySerialNumber` function could use native Windows code on windows and libusb otherwise. This feels like it would really harden the library and avoid a lot of libusb crashes finding devices on Windows. @Julusian  WDYT?

[2022-10-31 22:31] #548 closed

[2022-11-01 09:06] hrueger commented on #546
What would speak agains exposing that functionality on MacOS and Linux, too?

[2022-11-01 09:31] thegecko commented on #546
I believe on those platforms you would be recreating how libusb does it.

[2022-11-01 17:22] mildsunrise commented on #554
in the USB 2.0 standard, there's nothing explicitly allowing nor prohibiting the device from returning a different device description once setup...

and libusb definitely assumes the descriptor will never change, as (at least in the Linux backend) it's only read from the kernel in [`initialize_device`](https://github.com/libusb/libusb/blob/c060e9ce30ac2e3ffb49d94209c4dae77b6642f7/libusb/os/linux_u

[2022-11-01 19:55] jwillikers commented on #554
@mildsunrise I left the `*` in there to just to indicate the general path. I grepped through the usb devices tree without concern for the actual id where the `*` was. I'd think that the device would have completely disappeared and been re-configured when switching to bootloader mode, but I will check to see whether the id under `/sys/bus/usb/devices/` changes or stays the same and let you know.

[2022-11-01 22:24] jwillikers commented on #554
I can confirm that the USB device is located at `/sys/bus/usb/devices/1-5.3.3/`. When switched into bootloader mode, the path remains the same, though the product id changes. If I unplug the keyboard and plug it back in, it shows up at the same path.

[2022-11-02 11:46] mildsunrise commented on #554
ah, my bad. I forgot that the `*` in sysfs is the topological path, not the address,
could you re-test, but this time looking at `/sys/bus/usb/devices/*/devnum` to see if it changes or stays the same?

[2022-11-02 11:48] mildsunrise commented on #554
also, in each of both cases, could you call `getDeviceList()` before and after, and check the `.deviceAddress` of the returned devices?

[2022-11-03 00:35] jwillikers commented on #554
Before:

[code]

[code]

After:

[code]

My logging was kind of ad-hoc, which is why this number is not just `16`.
I didn't press the necessary key to flip into bootloader mode in order to log the values for the device address before flipping it into bootloader mode. It still resets the keyboard which then comes back as a new `devnum` each time. It started out as `15` and was `24` right before I a

[2022-11-03 01:18] mildsunrise commented on #554
and when you reset the keyboard, does the list of devices returned by node-usb change? if you look at the `deviceAddress` property (which should be equivalent to the `devnum` file), is node-usb reporting the old device or the new one?

[2022-11-03 01:49] jwillikers commented on #554
`node-usb` reports the old device `devnum` number after resetting the keyboard. The `Vendor ID: 13462, Product ID: 6, Device Address: 15` is the logged output from `node-usb`.

[2022-11-03 17:27] mildsunrise commented on #554
interesting, I wonder what happens if libusb is built without udev support...

[2022-11-08 02:39] xucs007 opened #557 "node.js works, but in vs code extension can't read"
## Bug Description:
Both inEndpoint.startPoll() and inEndpoint.transfer(), worked fine
under standalone node.js, but in extension of current vs code (1.68.1,  node.js 16.13.0, electron 17.4.7. Windows 11), none can read anything.

Can anybody offer any help?

My code:

inEndpoint.startPoll(1, 64)

inEndpoint.transfer(64, (err, buf)=> {
        console.log(`read buf= ${buf}`);
    });

[2022-11-08 06:37] #557 closed

[2022-11-13 17:51] theofficialgman opened #558 "Need to disable the prebuild"
## Bug Description:
prebuilds are linking to glibc 2.29+ so can not be run on bionic and buster and other distros

## Steps to Reproduce:
1. npm install usb

I have tried multiple options such as `--no-binary-cache` and `--build-from-source` when installing from npm with my project and always get the broken prebuilds.

how can this be disabled so I always build from source?

linking webpack since

[2022-11-13 20:55] mildsunrise commented on #558
umm, the prebuild should not be a problem in the situation you mention, because `node-gyp-build` should fail to load it (thus falling back to a build from source). let me check...

[2022-11-13 21:00] mildsunrise commented on #558
background: the problem with prebuild portability has been brought back before. I brought it up with #444, but then I'm seeing I failed to follow up on that (@thegecko sorry). regardless, the fallback should be working...

[2022-11-13 21:13] theofficialgman commented on #558
I can tell you from experience what is happening.

I execute `npm install --build-from-source` on a project (which includes usb)
the packages install to node_modules. at this point, the usb package still has the prebuilts/linux-arm64 folder and its contents intact, they don't get deleted or updated with a build from source. thats what I assume should be happening.

I then execute `npm run webpacka

[2022-11-13 21:29] mildsunrise commented on #558
Okay, the missing piece of info is that this is for the arm64 architecture, and that this is for an Electron pack.
I tested on an `ubuntu:18.04` x86_64 Docker container, with Node v10.x, and the prebuild was compatible so there wasn't even a need to fall back to source. Maybe arm64 prebuilds target a more recent glibc, this is something we should fix.

As for implementing support for `--build-from

[2022-11-13 21:46] mildsunrise commented on #558
actually... I see that https://github.com/prebuild/node-gyp-build/issues/20 is only for `--build-from-source=<specific package>`. node-gyp-build should already implement support for a general `--build-from-source`.

did a small test and it works. as you can see `node_modules/usb/build` exists, so that means `--build-from-source` was obeyed:

![Screenshot from 2022-11-13 22-42-30](https://user-imag

[2022-11-13 23:25] theofficialgman commented on #558
yes I see that, but that doesn't solve the problem. the problem is that the prebuilts still exist and it appears that nothing cares about the build folder existing.

what part of the of the software stacks job is it to decide to pull the binary from the `build` folder vs the `prebuilts/linux-arm64` folder? in my experience (not a node developer, I'm a user here attempting to build software), `webp